




<!-- Sidebar-->
<aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-3">
  <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
    <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
      <div class="d-md-flex align-items-left">
        <div class="ps-md-0">
          <h3 class="fs-base mb-0">{{ firstname }} {{ lastname }}</h3><span class="text-accent fs-sm">{{ email }}</span>
        </div>
      </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="fal fa-bars me-2"></i>Navigacija</a>
    </div>
    <div class="d-lg-block collapse" id="account-menu">
      <div class="bg-secondary px-4 py-3">
        <h3 class="fs-sm mb-0 text-muted">{{ text_account }}</h3>
      </div>
      <ul class="list-unstyled mb-0">
        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{{ edit }}"><i class="fal fa-user opacity-60 me-2"></i>{{ text_edit }}</a></li>
        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{{ password }}"><i class="fal fa-shield-check opacity-60 me-2"></i> {{ text_password }}</a></li>
        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{{ address }}"><i class="fal fa-map-marker-alt opacity-60 me-2"></i>{{ text_address }}</a></li>
        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{{ wishlist }}"><i class="fal fa-heart opacity-60 me-2"></i>{{ text_wishlist }}</a></li>
        <li class=" border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{{ order }}"><i class="fal fa-shopping-basket opacity-60 me-2"></i>{{ text_order }}</a></li>

        <li class="pb-3"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="{{ newsletter }}"><i class="fal fa-envelope opacity-60 me-2"></i>{{ text_newsletter }}</a></li>
      </ul>
    </div>
  </div>
</aside>