<section class="pt-2 pb-0 mt-3">
    <div class="row">

  {% for banner in banners %}


      <div class="col-md-{% if columns == '2' %}6{% elseif columns == '3' %}4{% elseif columns == '1' %}12{% endif %} mb-4">
          <div class="d-sm-flex justify-content-between align-items-center y overflow-hidden rounded-3" style="background-color: {{ banner.bojapozadine }};">
              <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                  <h4 class="fs-lg fw-light mb-2">{{ banner.actiontitle }}</h4>
                  <h3 class="mb-4">{{ banner.title }}</h3>
                  {% if banner.text %}
                  <p class="text-dark pb-2">{{ banner.text }}</p>
                  {% endif %}
                  <a class="btn btn-primary btn-shadow" href="{{ banner.link }}">{{ banner.buttontitle }}</a>
              </div>
              <a href="{{ banner.link }}"><img class="d-block ms-auto" src="{{ banner.image }}"  alt="{{ banner.title }}"></a>
          </div>
      </div>

  {% endfor %}

    </div>
</div>
