<section class="pt-3 pt-md-5" style="margin-bottom: 0px">
    {% if block_title %}
        <div class="section-title section-title--discount">
            {% if title %}  <h2 class="title">{% if title_preline %}<span>{{ title_preline }}</span> {% endif %}{{ title }}</h2>{% endif %}
            {% if use_button %}    <a class="btn btn-see-all" href="{{ link_href ? link_href : '' }}"><span>{{ link_title }}</span><i class="fal fa-chevron-right"></i></a>{% endif %}
        </div>
    {% endif %}

    {% if categories %}
        <div class="tns-carousel tns-controls-static tns-controls-inside tns-nav-enabled tns-carousel-product product-holder py-3">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;:true, &quot;autoHeight&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:3}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}, &quot;1740&quot;:{&quot;items&quot;:6}}}">


                {% for category in categories %}
                    <div>

                        <a href="{{ category.href }}">
                            <div class="card" >
                                <img src="{{ category.thumb }}" class="card-img-top" alt="{{ category.name }}">
                                <div class="card-body text-center">
                                    <h6 class="card-title mb-0 text-lowercase">{{ category.name }}</h6>


                                </div>
                            </div>
                        </a>

                    </div><!-- .single-category ends -->
                {% endfor %}



            </div> <!-- .grid-holder ends -->
        </div>
    {% endif %}

    <div class="clearfix"></div>


</section>