<section class="tns-carousel mb-3">
  <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: true}, &quot;576&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: true}}}">
    {% for banner in banners %}
    <div>
      <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: {{ banner.bojapozadine }};">
        <div class="d-lg-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
            <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 520px;">
              <h1 class="h4 text-light ">{{ banner.actiontitle }} </h1>
              <h2 class="h1 text-light">{{ banner.title }}</h2>
              <p class="text-light pb-2">{{ banner.text }}</p>
              {% if banner.link %}
              <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                <a class="btn btn-dark  btn-shadow  me-2 mb-2" href="{{ banner.link }}" role="button">
                  Kupi odmah i uštedi
                </a>
              </div>
              {% endif %}
            </div>
             <div>
                 {% if banner.link %}  <a  href="{{ banner.link }}" >   {% endif %}
                     <img src="{{ banner.image }}" alt="{{ banner.title }}">
                     {% if banner.link %}   </a>{% endif %}
             </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
</section>