<div id="search" class="page-search d-none search-field d-xl-flex flex-nowrap mx-4 trazi collapse">
    <i class="fal fa-search position-absolute top-50 start-0 translate-middle-y ms-3" style="z-index:1000"></i>
    <input class="form-control rounded-start w-100 main-search-input" name="search" type="text" value="{{ search }}" placeholder="{{ basel_text_search }}">
    <span class="btn btn-contrast do-search main d-none">{{ basel_text_search }}</span>
    <button type="button" class="btn btn-default btn-lg d-none"><i class="fa fa-search"></i></button>
</div>
{#<div id="search" class="input-group">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
    <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>#}