<div id="cart-content" class="dropdown-menu dropdown-menu-end">
    {% if products or vouchers %}
    <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
      <div data-simplebar data-simplebar-auto-hide="false">
        {% for product in products %}
        <div class="widget-cart-item pb-2 border-bottom">
          <button class="btn-close text-danger" type="button" onclick="cart.remove('{{ product.cart_id }}');" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
          <div class="d-flex align-items-center">
            {% if product.thumb %}
            <a class="d-block" href="{{ product.href }}"><img src="{{ product.thumb }}" width="64" alt="{{ product.name }}"></a>
            {% endif %}
            <div class="ps-2">
              <h6 class="widget-product-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
              <div class="widget-product-meta"><span class="text-accent me-2">{{ product.price }}</span><span class="text-muted">x  {{ product.quantity }}</span></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
        {% for total in totals %}
          {% if total.title=='Ukupno' %}
        <div class="fs-sm me-2 py-1">
          <span class="text-muted">{{ total.title }}</span><span class="text-accent fs-base ms-1">{{ total.text }}</span>
        </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
        <a class="btn btn-outline-secondary btn-sm " href="{{ cart }}"><i class="ci-cart me-2 fs-base align-middle"></i> {{ text_cart }}<i class="ci-arrow-right ms-1 me-n1"></i></a>
        <a class="btn btn-primary btn-sm " href="{{ checkout }}">
          <i class="ci-card me-2 fs-base align-middle"></i>{{ text_checkout }}<i class="ci-arrow-right ms-1 me-n1"></i>
        </a>
      </div>
    </div>
    {% endif %}
</div>


