<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}<meta name="description" content="{{ description }}" />{% endif %}
{% if keywords %}<meta name="keywords" content= "{{ keywords }}" />{% endif %}
<!-- Load essential resources -->
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="catalog/view/dist/vendor/simplebar/dist/simplebar.min.css"/>
  <link rel="stylesheet" media="screen" href="catalog/view/dist/vendor/tiny-slider/dist/tiny-slider.css"/>
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="catalog/view/dist/css/theme.min.css">


<!-- Page specific meta information -->
{% for link in links %}
{% if link.rel == 'image' %}
<meta property="og:image" content="{{ link.href }}" />
{% else %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endif %}
{% endfor %}
<!-- Analytic tools -->
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body class="{{ class }}{{ basel_body_class }} bg-secondary">

{% if notification_status %}
<div class="top_notificaiton">
  <div class="container{% if top_promo_close %} has-close{% endif %} {{ top_promo_width }} {{ top_promo_align }}">
    <div class="table">
    <div class="table-cell w100"><div class="ellipsis-wrap">{{ top_promo_text }}</div></div>
    {% if top_promo_close %}
    <div class="table-cell text-right">
    <a onClick="addCookie('basel_top_promo', 1, 30);$(this).closest('.top_notificaiton').slideUp();" class="top_promo_close">&times;</a>
    </div>
    {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% include 'basel/template/common/headers/' ~ basel_header ~ '.twig' %}
<!-- breadcrumb -->

<div class="container">
{{ position_top }}
</div>