{{ header }}

<main class="offcanvas-enabled" style="padding-top: 5rem;">

    <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">
            <div id="content" class="{{ class }}">

                <section class="tns-carousel mb-0">
                    <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: false, &quot;controls&quot;: true}}}">

                        <div>
                            <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #e31318;">
                                <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                                    <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 520px;">
                                        <h1 class="h3 text-light ">TJEDNA AKCIJA </h1>
                                        <h2 class="h1 text-light">Pametni sat GARMIN VENU RoseGold Light  </h2>
                                        <p class="text-light pb-4">Akcija vrijedi od 7.6. do 13.06.2021. i vrijedi do isteka zaliha</p>

                                        <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                            <a class="btn btn-dark  btn-shadow  me-2 mb-2" href="#" role="button">
                                              Kupi odmah i uštedi
                                            </a></div>
                                    </div>
                                 <div>
                                     <img src="image/venu-rose-gold-image-01.png" width="440px" style="max-width:440px" alt="Image"></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #1B84E5;">
                            <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                                <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 520px;">
                                    <h1 class="h2 text-light display-5">TJEDNA AKCIJA </h1>
                                    <h2 class="h1 text-light">Pametni sat GARMIN VENU RoseGold Light sand remen  </h2>
                                    <p class="text-light pb-4">Akcija vrijedi od 7.6. do 13.06.2021. i vrijedi do isteka zaliha</p>

                                    <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                        <a class="btn btn-dark btn-lg btn-shadow  me-2 mb-2" href="#" role="button">
                                            Kupi odmah i uštedi
                                        </a></div>
                                </div>
                                <div>
                                    <img src="image/venu-rose-gold-image-01.png" alt="Image"></div>
                            </div>
                        </div>

                    </div>
                </section>




                {{ content_top }}
                {{ content_bottom }}
            </div>
        </div>
    </section>
{{ footer }}