{{ header }}

<main class="offcanvas-enabled" style="padding-top: 5rem;">

    <section class="container-fluid pt-4">
        <div class="pt-2">
            <div id="content" class="{{ class }}">

                <section class="tns-carousel mb-3">
                    <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 1, &quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;: {&quot;nav&quot;: true, &quot;controls&quot;: false}, &quot;576&quot;: {&quot;nav&quot;: false, &quot;controls&quot;: true}}}">

                        <div>
                            <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #e31318;">
                                <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                                    <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 520px;">
                                        <h1 class="h4 text-light ">TJEDNA AKCIJA </h1>
                                        <h2 class="h1 text-light">Pametni sat GARMIN VENU RoseGold Light sand remen  </h2>
                                        <p class="text-light pb-2">Akcija vrijedi od 7.6. do 13.06.2021. i vrijedi do isteka zaliha</p>

                                        <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                            <a class="btn btn-dark  btn-shadow  me-2 mb-2" href="#" role="button">
                                                Kupi odmah i uštedi
                                            </a></div>
                                    </div>
                                    <div>
                                        <img src="image/venu-rose-gold-image-01.png" alt="Image"></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #1B84E5;">
                            <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                                <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 520px;">
                                    <h1 class="h4 text-light ">TJEDNA AKCIJA </h1>
                                    <h2 class="h1 text-light">Pametni sat GARMIN VENU RoseGold Light sand remen  </h2>
                                    <p class="text-light pb-2">Akcija vrijedi od 7.6. do 13.06.2021. i vrijedi do isteka zaliha</p>

                                    <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                        <a class="btn btn-dark  btn-shadow  me-2 mb-2" href="#" role="button">
                                            Kupi odmah i uštedi
                                        </a></div>
                                </div>
                                <div>
                                    <img src="image/venu-rose-gold-image-01.png" alt="Image"></div>
                            </div>
                        </div>

                    </div>
                </section>




                {{ content_top }}
                <section class="pt-2 pb-0 mt-3">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="d-sm-flex justify-content-between align-items-center y overflow-hidden rounded-3" style="background-color:#F5F5F5">
                                <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                                    <h4 class="fs-lg fw-light mb-2">TJEDNA AKCIJA</h4>
                                    <h3 class="mb-4">Pametni sat GARMIN VENU RoseGold Light sand remen</h3><a class="btn btn-primary btn-shadow" href="#">Kupi odmah i uštedi</a>
                                </div><img class="d-block ms-auto" src="image/venu-rose-gold-image-01.png" width="350px" alt="Shop Converse">
                            </div>
                        </div>

                        <div class="col-md-6 mb-4">
                            <div class="d-sm-flex justify-content-between align-items-center  overflow-hidden rounded-3" style="background-color:#F5F5F5">
                                <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
                                    <h4 class="fs-lg fw-light mb-2">TJEDNA AKCIJA</h4>
                                    <h3 class="mb-4">Pametni sat GARMIN VENU RoseGold Light sand remen</h3><a class="btn btn-primary btn-shadow" href="#">Kupi odmah i uštedi</a>
                                </div><img class="d-block ms-auto" src="image/venu-rose-gold-image-01.png" width="350px" alt="Shop Converse">
                            </div>
                        </div>

                    </div>
                </section>
                {{ content_bottom }}
            </div>
        </div>
    </section>
{{ footer }}