{{ header }}
<main class="offcanvas-enabled">
    <section class="container-fluid pt-4">
        <div class="pt-2">
            <div id="content" class="{{ class }}">
                {% if groupId < 2 %}
                {{ content_top }}
                {% else %}
                {{ content_bottom }}
                {% endif %}
            </div>
        </div>
    </section>
{{ footer }}