{% if categories %}
{% for category in categories %}

 {% if groupId >= 2 and category.name=='AKCIJE' %}

{% else %}

    {% if category.children %}
        <div class="accordion-item border-bottom">

    {% if cats and category.category_id in cats  %}
            <h3 class="accordion-header">
                <button class="accordion-button  py-3" type="button" data-bs-toggle="collapse" data-bs-target="#catid{{ category.category_id }}" aria-expanded="true" aria-controls="catid{{ category.category_id }}"><span class="d-flex align-items-center">{{ category.name }} </span></button>
            </h3>
            <div class="collapse show" id="catid{{ category.category_id }}" data-bs-parent="#shop-categories">
    {% else %}
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#catid{{ category.category_id }}" aria-expanded="false" aria-controls="catid{{ category.category_id }}"><span class="d-flex align-items-center">{{ category.name }} </span></button>
                </h3>
        <div class="collapse " id="catid{{ category.category_id }}" data-bs-parent="#shop-categories">
            {% endif %}
                 <div>
                    <div class="widget widget-links">
                        {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                            <ul class="widget-list">
                                {% for child in children %}
                                    {% if child.grandchildren %}

                                                {% if cats and child.category_id in cats  %}
                                <li class="widget-list-item"><a class="widget-list-link"  data-bs-toggle="collapse" data-bs-target="#subid{{ child.category_id }}" aria-expanded="true" aria-controls="subid{{ child.category_id }}">{{ child.name }} {{ child.show }}</a>
                                                        <ul class="widget-list collapse show" id="subid{{ child.category_id }}">
                                                {% else %}
                                                            <li class="widget-list-item"><a class="widget-list-link"  data-bs-toggle="collapse" data-bs-target="#subid{{ child.category_id }}" aria-expanded="false" aria-controls="subid{{ child.category_id }}">{{ child.name }} {{ child.show }}</a>
                                                            <ul class="widget-list collapse" id="subid{{ child.category_id }}">
                                                 {% endif %}
                                                {% for grandchild in child.grandchildren %}
                                                    {% if cats and grandchild.category_id in cats  %}
                                                         <li class="widget-list-item active"><a class="widget-list-link" href="{{ grandchild.href }}">{{ grandchild.name }} </a></li>
                                                    {% else %}
                                                         <li class="widget-list-item"><a class="widget-list-link" href="{{ grandchild.href }}">{{ grandchild.name }} </a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        {% if cats and child.category_id in cats  %}
                                        <li class="widget-list-item active nochild"><a class="widget-list-link" href="{{ child.href }}">{{ child.name }}</a></li>
                                        {% else %}
                                            <li class="widget-list-item nochild"><a class="widget-list-link" href="{{ child.href }}">{{ child.name }}</a></li>
                                        {% endif %}
                                        <style>.sidebar #categories .accordion-item .widget-links .widget-list .widget-list-item.nochild .widget-list-link::after{content:unset}</style>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="accordion-item border-bottom">
            <h3 class="accordion-header"><a class="nav-link-style d-block fs-md fw-normal py-3" href="{{ category.href }}"><span class="d-flex align-items-center">{{ category.name }}</span></a></h3>
        </div>
    {% endif %}

            {% endif %}

{% endfor %}
{% endif %}

