<div id="total-content" >
  {% if products  %}
   <div class="widget mb-3">
     <h2 class="h6 text-center mb-4">Sažetak narudžbe</h2>

            {% for product in products %}
              <div class="d-flex align-items-center py-2 border-bottom">

                <a class="d-block flex-shrink-0" href="{{ product.href }}"><img src="{{ product.thumb }}" width="64" alt="Product">
                </a>
                <div class="ps-2">
                  <h6 class="widget-product-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
                  <div class="widget-product-meta"><span class="text-accent me-2">{{ product.priceeur }} - {{ product.price }}</span><span class="text-muted">x  {{ product.quantity }}</span></div>
                </div>
              </div>
            {% endfor %}
   </div>


            <ul class="list-unstyled fs-sm pb-2 border-bottom">
              {% for total in totals %}
                {% if total.title!='Ukupno'  %}

                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">{{ total.title }}</span><span class="text-end">{{ total.text }}</span></li>

                {% endif %}
              {% endfor %}
            </ul>

            {% for total in totals %}
              {% if total.title=='Ukupno'  %}

                <h3 class="fw-normal text-center my-4">{{ total.text }}</h3>
              {% endif %}
            {% endfor %}



    {% endif %}


</div>






