{{ header }}
<main  class="offcanvas-enabled">
  <!-- Page Title-->
  <div class="page-title-overlap pt-4 mb-0">
    <div class="container-fluid d-lg-flex justify-content-center py-2 py-lg-3 ">
      {# <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-start">
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ol>
        </nav>
      </div> #}
      <div class="order-lg-1 text-center text-lg-center">
      <h1 class="category-page-title mb-3">{{ heading_title }}</h1>
      <h2 class="h4 fw-light text-center mb-4 mb-lg-0">{{ text_error }}</h2>

      </div>
    </div>
  </div>

  <div class="container-fluid pb-5 mb-2 mb-md-4">
    <div class="row justify-content-center pt-lg-4 text-center">
      <div class="col-6 col-sm-auto"><img class="d-block mx-auto mb-5" src="catalog/view/dist/img/cart-empty.svg" width="222" alt="404 Error">
        {# <h1 class="h3">{{ heading_title }}</h1> #}
      </div>
      <div class="col-12">
      <p class="fs-4 mb-2 mb-md-3">
    <strong>Što možete učiniti?</strong>
      </p>      </div>


    </div>
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="row">
          <div class=" col-md-4 mb-3 offset-md-2 "><a class="card bg-light h-100 border-0 shadow-xs" href="{{ continue }}">
              <div class="card-body">
                <div class="d-flex align-items-center"> <i class="fas fa-house text-primary h2 mb-0"></i>
                  <div class="ps-3">
                    <h5 class="fs-lg mb-0">Naslovnica</h5><span class="text-muted fs-md">Povratak na naslovnicu</span>
                  </div>
                </div>
              </div></a></div>
          <div class="col-md-4 mb-3"><a class="card bg-light h-100 border-0 shadow-xs" onclick="myFunction()" style="cursor: pointer;" >
              <div class="card-body">
                <div class="d-flex align-items-center"><i class="fas fa-file-search text-success h2 mb-0"></i>  
                  <div class="ps-3">
                    <h5 class="fs-lg mb-0">Pretraga</h5><span class="text-muted fs-md">Pronađi preko tražilice</span>
                  </div>
                </div>
              </div></a></div>
         <!-- <div class="col-md-4 mb-3"><a class="card bg-light h-100 border-0 shadow-xs" href="help-topics.html">
              <div class="card-body">
                <div class="d-flex align-items-center"><i class="fas fa-info-square text-info h2 mb-0"></i>
                  <div class="ps-3">
                    <h5 class="fs-lg mb-0">Pomoć i podrška</h5><span class="text-muted fs-md">Često postavljana pitanja</span>
                  </div>
                </div>
              </div></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <script>


    function myFunction() {


      document.getElementsByName('search')[0].focus();


    }
  </script>


{{ footer }}