{{ header }}
<main class="offcanvas-enabled">


  <!-- Custom page title-->
  <div class="page-title-overlap  pt-4 ps-lg-4 pe-lg-3">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3 ">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-start">
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-dark mb-0">{{ heading_title }}</h1>
      </div>
    </div>
  </div>

  <section class="container py-3">
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}

    <div class="row pt-4">


      <div class="col-lg-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow">
          <div class="card-body text-center"><i class="ci-user-circle h2 mt-2 mb-4 text-primary"></i>
            <h6>{{ text_my_account }}</h6>
            <p class="fs-sm text-muted pb-2">{{ text_edit }}</p><a class="btn btn-outline-primary stretched-link mb-2" href="{{ edit }}">Uredi</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow">
          <div class="card-body text-center"><i class="ci-security-check h2 mt-2 mb-4 text-primary"></i>
            <h6>Lozinka</h6>
            <p class="fs-sm text-muted pb-2">{{ text_password }}</p><a class="btn btn-outline-primary stretched-link mb-2" href="{{ password }}">Uredi</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow">
          <div class="card-body text-center"><i class="ci-location h2 mt-2 mb-4 text-primary"></i>
            <h6>Adresar</h6>
            <p class="fs-sm text-muted pb-2">Vaše adrese dostave</p><a class="btn btn-outline-primary stretched-link mb-2" href="{{ address }}">Uredi</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow">
          <div class="card-body text-center"><i class="ci-heart h2 mt-2 mb-4 text-primary"></i>
            <h6>Lista želja</h6>
            <p class="fs-sm text-muted pb-2">Pogledajte vašu listu želja</p><a class="btn btn-outline-primary stretched-link mb-2" href="{{ wishlist }}">Uredi</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow">
          <div class="card-body text-center"><i class="fal fa-shopping-basket h2 mt-2 mb-4 text-primary"></i>
            <h6>{{ text_my_orders }}</h6>
            <p class="fs-sm text-muted pb-2">{{ text_order }}</p><a class="btn btn-outline-primary stretched-link mb-2" href="{{ order }}">Uredi</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow">
          <div class="card-body text-center"><i class="ci-mail h2 mt-2 mb-4 text-primary"></i>
            <h6>{{ text_my_newsletter }}</h6>
            <p class="fs-sm text-muted pb-2">{{ text_newsletter }}</p><a class="btn btn-outline-primary stretched-link mb-2" href="{{ newsletter }}">Uredi</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-center mt-3 mb-5">
      <a class="btn btn-primary btn-shadow" href="{{ logout }}"><i class="ci-sign-out mt-n1 me-2"></i>{{ text_logout }}</a>
      </div>




  </div>

</section>
{{ footer }} 