{{ header }}


<main class="offcanvas-enabled">


            <!-- Page Title-->
            <div class="page-title-overlap bg-dark pt-4 ps-lg-4 pe-lg-3">
                <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                                {% for breadcrumb in breadcrumbs %}
                                    <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endfor %}
                            </ol>
                        </nav>
                    </div>
                    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                        <h1 class="h2 text-light mb-0">{{ heading_title }}</h1>
                    </div>
                </div>
            </div>
        <div class="container pb-5 mb-2 mb-md-4 ps-lg-4 pe-lg-3">
            <div class="row">
                <!-- Sidebar-->

                {{ column_left }}

                <!-- Content  -->
                <section class="col-lg-8" id="account-edit">
                    <!-- Toolbar-->
                    <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                        <h6 class="fs-base text-light mb-0">{{ text_edit }}</h6><a class="btn btn-primary " href="{{ logout }}"><i class="fal fa-sign-out me-2"></i>{{ text_logout }}</a>
                    </div>
                    <!-- Profile form-->

                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% if groupId > 1 %}
                        <h2 class="h5 mb-3">Podaci o tvrtci</h2>

                        {% else %}
                            <h2 class="h5 mb-3">{{ text_your_details }}</h2>
                        {% endif %}

                        {% if error_warning %}
                            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
                        {% endif %}

                        {% if success %}
                            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
                        {% endif %}

                        <div class="row gx-4 gy-3">
                            {% if master =='1' or groupId > 2 %}
                                 {% set readonly = 'readonly' %}
                            {% endif %}

                            {% if groupId > 1 %}


                                {% for custom_field in custom_fields %}

                                    {% if custom_field.type == 'text' %}
                                        <div class="col-sm-6{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}  {% if custom_field.required %} <span class='text-danger'>*</span> {% endif %}</label>

                                            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" {{ readonly }} />
                                            {% if error_custom_field[custom_field.custom_field_id] %}
                                                <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                            {% endif %}

                                        </div>
                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                            <div class="col-sm-6  required">
                                <label class="form-label" for="input-firstname">{{ entry_firstname }} <span class='text-danger'>*</span></label>

                                <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control" {{ readonly }}/>
                                {% if error_firstname %}
                                    <div class="text-danger">{{ error_firstname }}</div>
                                {% endif %}

                            </div>
                            <div class=" col-sm-6  required">
                                <label class="form-label" for="input-lastname">{{ entry_lastname }}<span class='text-danger'>*</span></label>

                                <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"  {{ readonly }}/>
                                {% if error_lastname %}
                                    <div class="text-danger">{{ error_lastname }}</div>
                                {% endif %}

                            </div>
                            <div class="col-sm-6  required">
                                <label class="form-label" for="input-email">{{ entry_email }}<span class='text-danger'>*</span></label>

                                <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" {{ readonly }}/>
                                {% if error_email %}
                                    <div class="text-danger">{{ error_email }}</div>
                                {% endif %}

                            </div>
                            <div class="col-sm-6 required">
                                <label class="form-label" for="input-telephone">{{ entry_telephone }}<span class='text-danger'>*</span></label>

                                <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" {{ readonly }}/>
                                {% if error_telephone %}
                                    <div class="text-danger">{{ error_telephone }}</div>
                                {% endif %}

                            </div>

                            <div class="col-12">
                                <hr class="mt-2 mb-3">

                                {% if master =='1' %}
                                <div class="alert alert-primary d-flex" role="alert">
                                    <div class="alert-icon">
                                        <i class="fas fa-info"></i>
                                    </div>
                                    <div>Za zamjenu ovih podataka obratite se vašem product manageru u Chipoteci.</div>
                                </div>

                                {% elseif master !='1' and groupId > 2 %}
                                <div class="alert alert-primary d-flex" role="alert">
                                    <div class="alert-icon">
                                        <i class="fas fa-info"></i>
                                    </div>
                                    <div>Za zamjenu ovih podataka obratite se vašem manageru.</div>
                                </div>

                                {% else %}
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        <button type="submit"  class="btn btn-primary mt-3 mt-sm-0" >{{ button_save }} </div>
                                    </div>
                                {% endif %}

                            </div>


                        </div>


                    </form>

                </section>
            </div>
        </div>








<script><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});
//--></script>
<script><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});
//--></script>
{{ footer }}
