{{ header }}
<main  class="offcanvas-enabled" style="padding-top: 5rem;">


  <!-- Page Title-->
  <div class="page-title-overlap bg-dark pt-4 ps-lg-4 pe-lg-3">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3 ">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">{{ heading_title }}</h1>
      </div>
    </div>
  </div>



  <div id="content" class="container pb-5 mb-2 mb-md-4 ps-lg-4 pe-lg-3">
    <div class="row">
      <!-- Sidebar-->

      {{ column_left }}

      <!-- Content  -->
      <section class="col-lg-8" >

        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 class="fs-base text-light mb-0">{{ heading_title }}</h6><a class="btn btn-primary btn-sm" href="{{ logout }}"><i class="ci-sign-out me-2"></i>{{ text_logout }}</a>
        </div>


        {% if orders %}
        <!-- Orders list-->
        <div class="table-responsive fs-md mb-4">
          <table class="table table-hover mb-0">
            <thead>
            <tr>
              <th>{{ column_order_id }}</th>

              <th>{{ column_product }}</th>
              <th>{{ column_status }}</th>
              <th>{{ column_total }}</th>
              <th>{{ column_date_added }}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            {% for order in orders %}
              <tr>
                <td class="py-3">{{ order.order_id }}</td>

                <td class="py-3">{{ order.products }}</td>
                <td class="py-3">{{ order.status }}</td>
                <td class="py-3">{{ order.total }}</td>
                <td class="py-3">{{ order.date_added }}</td>
                <td class="py-3">


                  <a class="nav-link-style me-2" href="{{ order.view }}" data-bs-toggle="tooltip" title="{{ button_view }}"><i class="ci-eye"></i></a>
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
        {% else %}
          <p>{{ text_empty }}</p>
        {% endif %}



      </section>
     
      </div>
    </div>

{{ footer }}