{{ header }}

<main class="offcanvas-enabled">

  <div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <h2 class="h3 mb-4">{{ heading_title }}</h2>
          <legend>{{ text_password }}</legend>

          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="row gx-4 gy-3">


           <div class="col-sm-6">


            <label class="form-label" for="input-password">{{ entry_password }}</label>

              <input type="password" name="password" value="{{ password }}" id="input-password" class="form-control" />
              {% if error_password %}
              <div class="text-danger">{{ error_password }}</div>
              {% endif %}

          </div>
           <div class="col-sm-6">
            <label class="form-label" for="input-confirm">{{ entry_confirm }}</label>

              <input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="form-control" />
              {% if error_confirm %}
              <div class="text-danger">{{ error_confirm }}</div>
              {% endif %}
            </div>

            <div class="buttons clearfix mt-2 mb-3">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_continue }}</button>
            </div>
          </form>

          </div>



      </div>
    </div>
</div>
{{ footer }}