{{ header }}
<main  class="offcanvas-enabled" style="padding-top: 5rem;">


  <!-- Page Title-->
  <div class="page-title-overlap bg-dark pt-4 ps-lg-4 pe-lg-3">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3 ">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">{{ heading_title }}</h1>
      </div>
    </div>
  </div>


  <div id="content" class="container pb-5 mb-2 mb-md-4 ps-lg-4 pe-lg-3">
    <div class="row">
      <!-- Sidebar-->

      {{ column_left }}

      <!-- Content  -->
      <section class="col-lg-8" id="whishlist">


        <!-- Toolbar-->
        <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
          <h6 class="fs-base text-light mb-0">{{ text_edit_address }}</h6><a class="btn btn-primary btn-sm" href="{{ logout }}"><i class="ci-sign-out me-2"></i>{{ text_logout }}</a>
        </div>


        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}

        {% if products %}
          <table class="table table-bordered">
            <thead>
            <tr>
              <td class="remove-cell"></td>
              <td></td>
              <td>{{ column_name }}</td>
              <td class="hidden-xs hidden-sm">{{ column_model }}</td>
              <td class="text-right hidden-xs hidden-sm">{{ column_stock }}</td>
              <td class="text-right price-cell hidden-xs hidden-sm">{{ column_price }}</td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr>
                <td class="remove-cell text-center"><a href="{{ product.remove }}" title="{{ button_remove }}" class="product-remove"><i class="fa fa-times"></i></a></td>
                <td class="image">
                  {% if product.thumb %}
                    <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
                  {% endif %}
                </td>
                <td>
                  <a class="hover_uline" href="{{ product.href }}">{{ product.name }}</a>
                  <span class="display-block hidden-md hidden-lg">
                {% if not product.special %}
                  {{ product.price }}
                {% else %}
                  <span class="price">{{ product.special }} </span><span class="price-old">{{ product.price }}</span>
                {% endif %}
                  </span>
                  <span class="display-block hidden-md hidden-lg">{{ product.stock }}</span>
                  </span>
                </td>
                <td class="hidden-xs hidden-sm">{{ product.model }}</td>
                <td class="text-right hidden-xs hidden-sm">{{ product.stock }}</td>
                <td class="text-right price-cell hidden-xs hidden-sm">
                  {% if product.price %}
                    {% if not product.special %}
                      {{ product.price }}
                    {% else %}
                      <span class="price">{{ product.special }}</span><span class="price-old">{{ product.price }}</span>
                    {% endif %}
                  {% endif %}</td>
                <td class="text-right"><button type="button" onclick="cart.add('{{ product.product_id }}');" class="btn btn-sm btn-primary">{{ button_cart }}</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        {% else %}
          <p>{{ text_empty }}</p>
        {% endif %}


      </section>

    </div>
  </div>





{{ footer }}