{{ header }}

<main class="offcanvas-enabled" style="padding-top: 5rem;">
  <!-- Custom page title-->
  <div class="page-title-overlap pt-4 pe-lg-3 ">
    <div class="container-fluid py-2">

      <div class="pe-lg-4 text-center text-lg-start">
        <h1 class="category-page-title" id="page-title">{{ heading_title }}</h1>
      </div>
      <div class=" mb-3 mb-lg-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ol>
        </nav>
      </div>

    </div>
  </div>

  <div id="content" class="container-fluid pb-5 mb-2 mb-md-4">

      <div class=" pt-4 pb-3 mb-3">
    {{ content_top }}

      {{ description }}
      {{ content_bottom }}
      </div>

     </div>

{{ footer }}