<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h5><span class="required">*</span> <strong>{{ text_isense_db_cache_max_files }}</strong></h5>
        <span class="help">{{ text_isense_db_cache_engine_max_files_helper }}</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <input class="form-control" type="text" name="{{ moduleName }}[engine_file][max_files]" value="{{ moduleData.engine_file.max_files ?  moduleData.engine_file.max_files : '10000' }}" />
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h5><span class="required">*</span> <strong>{{ text_isense_db_cache_current_files }}</strong></h5>
        <span class="help">{{ text_isense_db_cache_engine_current_files_helper }}</span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <input class="form-control" type="text"  disabled name="{{ moduleName }}[file]['current_files_count']" value="{{ moduleData.file.current_files_count ?  moduleData.file.current_files_count : '0' }}" />
    </div>
</div>
