{{ header }}
<main class="offcanvas-enabled">
  <div class="page-title-overlap pt-4 pe-lg-3 ">
    <div class="container-fluid py-2">
      <div class="pe-lg-4 text-center text-lg-start">
        <h1 class="category-page-title" id="page-title">{{ heading_title }}</h1>
      </div>
      <div class=" mb-3 mb-lg-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
          </ol>
        </nav>
      </div>
      {% if (description is not empty) %}{{ '<div class="mb-0 mt-3">'~ description ~'</div>' }}{% endif %}
    </div>
  </div>
  <div id="content" class="container-fluid pb-5 mb-2 mb-md-4">
      {% if categories %}
      <p class="margin-b30"><strong>{{ text_index }}</strong>
        {% for category in categories %}
        &nbsp;&nbsp;&nbsp;<a href="#{{ category.name }}">{{ category.name }}</a>
        {% endfor %}
      </p>
      {% for category in categories %}
      <div class="brand-letter">
      <h2 id="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</h2>
      {% if category.manufacturer %}
      {% for manufacturers in category.manufacturer|batch(4) %}
          <div class="row align-items-center mb-3">
        {% for manufacturer in manufacturers %}
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 "><a href="{{ manufacturer.href }}" ><img src="{{ manufacturer.image }}" class="rounded border" alt="{{ manufacturer.name }}"/></a></div>
        {% endfor %}
      </div>
      {% endfor %}
      {% endif %}
      </div>
      {% endfor %}
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
</div>
    <script>
        $(document).on('click', 'a[href^="#"]', function(e) {
            // target element id
            var id = $(this).attr('href');
            // target element
            var $id = $(id);
            if ($id.length === 0) {
                return;
            }
            e.preventDefault();
            var pos = $id.offset().top - 85;
            $('body, html').animate({scrollTop: pos});
        });
    </script>
{{ footer }}