{{ header }}
<main class="offcanvas-enabled product-container">
    <!-- Custom page title-->
    <div class="page-title-overlap  pt-4">
        <div class="container-fluid py-2">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="product-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bg-white shadow-lg rounded-3" >
            <!-- Tabs-->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#general" data-bs-toggle="tab" role="tab">Info</a></li>
                <li class="nav-item"><a class="nav-link" href="#description" data-bs-toggle="tab" role="tab">Opis  </a></li>
                <li class="nav-item"><a class="nav-link" href="#specs" data-bs-toggle="tab" role="tab">Specifikacije </a></li>
            </ul>
            <div class="pb-3 mb-5">
                <div class="tab-content px-3">
                    <!-- General info tab-->
                    <div class="tab-pane fade show active" id="general" role="tabpanel">
                        <div class="row">
                            <!-- Product gallery-->
                            <div class="col-md-5 col-xxxl-auto">
                                <div class="product-gallery " style="display: block !important;">
                                    <div class="product-gallery-preview gallery">
                                        {% if thumb or images %}
                                            {% if thumb %}
                                                <div class="product-gallery-preview-item active" id="first"><a class="gallery-item rounded-3" href="{{ popup }}" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;{{ heading_title }}&lt;/h6&gt;"><img  src="{{ thumb }}" data-zoom="{{ popup }}" alt="{{ heading_title }}"></a>
                                                </div>
                                            {% endif %}
                                            {% for image in images %}
                                                <div class="product-gallery-preview-item" id="image{{ image.imageid }}"><a class="gallery-item rounded-3" href="{{ image.popup }}" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;{{ heading_title }}&lt;/h6&gt;"><img  src="{{ image.thumb_lg }}"  alt="{{ heading_title }}"></a></div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% if images %}
                                    <div class="d-flex">
                                        <div class="product-gallery-thumblist mx-auto justify-content-center">
                                            {% for image in images %}
                                                {% if thumb  %}
                                                    <a class="product-gallery-thumblist-item active" style="display: inline-block !important;" href="#first"><img src="{{ thumb_sm }}" alt="{{ heading_title }}"></a>
                                                {% endif %}
                                                <a class="product-gallery-thumblist-item" style="display: inline-block !important;" href="#image{{ image.imageid }}"><img src="{{ image.thumb }}" alt="{{ heading_title }}"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product details-->
                            <div class="col-md-7" style="min-width: 1px;">
                                <div class="product-features" id="product">
                                    <div class="badges-wrapper {% if freeshipping == false and special == '' %} mt-2 {% endif %}">
                                        {% if freeshipping %}
                                        <div class="product-badge-cpta product-badge-cpta__free-shipping me-3">
                                            <span> Besplatna dostava</span>
                                            <i class="fas fa-shipping-fast"></i>
                                        </div>
                                        {% endif %}
                                        {% if price and special and sale_badge %}
                                        <div class="product-badge-cpta product-badge-cpta__discount">
                                            <span> Akcija</span>
                                            <span> Uštedi <strong>{{ sale_badge }}</strong></span>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="description-short  ">
                                    {% if short_description %}
                                        <h5 class="title">{{ text_short_description }}</h5>
                                        {{ short_description }}
                                    {% endif %}
                                    </div>
                                    <div class="price-wrapper">
                                        <div class="product-price">
                                            {% if not special %}
                                                <span>{{ price }}</span>
                                            {% else %}
                                            <span>{{ special }}</span>
                                            <del>{{ price }}</del>
                                            <span id="special_countdown"></span>
                                        {% endif %}
                                         </div>

                                        <div class="product-price--web">
                                         <span>Web cijena:</span>
                                         <span> {% if  special %}{{ special }} {% else %}{{ price }} {% endif %}</span>
                                        </div>

                                    </div>
                                    <div class="buying-choices mb-1 mt-n1 mt-md-n3">
                                        <div class="choices-wrapper">
                                          <i class="fas fa-badge-percent"></i> 
                                          <span class="first"> 12 x {{ ratedvanaest }}</span>
                                         <span class="second">24 x {{ ratedvacetiri }}</span>
                                        </div>
                                    </div>
                                    <div class="warranty-time mb-4"><i class="fas fa-clock"></i> <span>Jamstvo: <strong>12 mjeseci</strong></span></div>
                                    <div class="product-quantity-button">
                                        <div class="input-group me-3 quantity">
                                            <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}" id="input-quantity"   class="form-control input-quantity" />
                                            <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <input type="hidden" name="product_id" value="{{ product_id }}" />
                                        <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100 me-3">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>

                                        <button class="btn btn-outline-secondary btn-wishlist-v2" onclick="wishlist.add('{{ product_id }}');" type="button"><i class="ci-heart fs-lg "></i></button>

                                    </div>

                               

                                    {% if minimum > 1 %}
                                        <div class="alert alert-sm alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                    {% endif %}
                                    <div class="accordion product-accordion mb-4" id="productPanels">
                                        <div class="accordion-item">
                                            <h4 class="accordion-header"><a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="far fa-map-marker-minus text-muted lead align-middle mt-n1 me-3"></i>Dostupnost proizvoda po poslovnicama</a></h4>
                                            <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                                                <div class="accordion-body">
                                                    <div class="d-flex justify-content-between border-bottom pt-2 pb-3">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Zagreb
                                                                Ulica grada Vukovara 269E</a>
                                                            </div>
                                                        </div>
                                                        <div><i class="far fa-map-marker-minus me-2"></i></div>


                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-3">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Zagreb Arena
                                                                    Vice Vukova 6</a></div>

                                                        </div>
                                                        <div><i class="far fa-map-marker-minus me-2"></i></div>

                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-3">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Zadar
                                                                    Franje Tuđmana 19</a></div>

                                                        </div>
                                                        <div><i class="far fa-map-marker-minus me-2"></i></div>

                                                    </div>
                                                    <div class="d-flex justify-content-between pt-3 pb-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Šibenik
                                                                    Bože Peričića 26</a></div>

                                                        </div>
                                                        <div><i class="far fa-map-marker-minus me-2"></i></div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h4 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="far fa-tags text-muted fs-lg align-middle mt-n1 me-3"></i>Način plaćanja</a></h4>
                                            <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                                                <div class="accordion-body">
                                                    <h6 class="mt-2">Jednokratno plaćanje:</h6>
                                                    <ul>
                                                        <li> Internet bankarstvo (virman)</li>
                                                        <li> Pouzeće (prilikom preuzimanja)</li>
                                                        <li>American Express, Maestro, MasterCard, Visa</li>
                                                    </ul>

                                                    <h6 class="mt-3">Obročno plaćanje:</h6>
                                                    <ul class="mb-2">
                                                        <li>MasterCard 2-12 rate</li>
                                                         <li> Visa Premium 2-10 rata</li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-delivery-time">
                                                        <i class="fas fa-shipping-timed"></i>
                                              <div class="d-flex flex-column">
                                              <span>
                                                  {% if ((qty < 1) and (stock_badge_status)) %}
                                               Trenutno nedostupno
                                                  {% else %}
                                               Proizvod kod dobavljača
                                                  {% endif %}
                                             </span>
                                                  {% if qty > 1 %}
                                              <span>
                                              Šaljemo do {{ saljemodo }}
                                              </span>
                                                  {% endif %}
                                        </div>
                                    </div>
                                    <p class="product-id"><strong>{{ text_model }}</strong> {{ model }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tech specs tab-->
                    <div class="tab-pane fade" id="description" role="tabpanel">
                        <div class="d-md-flex justify-content-between pb-4 mt-3 mb-4 border-bottom product-features flex-column flex-lg-row">
                            <div class="d-flex align-items-center flex-column flex-sm-row mt-3 mb-3 mt-lg-0 mb-lg-0">
                                {% if thumb or images %}
                                    {% if thumb %}
                                      <img  src="{{ thumb }}" data-zoom="{{ popup }}" loading="lazy" alt="{{ heading_title }}"  width="90" class="me-2" />
                                    {% endif %}
                                {% endif %}
                                <div class="price-wrapper mb-0">
                                 <div class="product-price">
                                     {% if not special %}
                                <span>{{ price }}</span>
                                    {% else %}
                                <span>{{ special }}</span>
                                  <del>{{ price }}</del>
                                    {% endif %}
                                </div>

                                        <div class="product-price--web">
                                            <span>Web cijena:</span>
                                            <span> {% if  special %} {{ special }} {% else %} {{ price }} {% endif %}</span>
                                        </div>

                                </div>
                            </div>
                            <div class="product-quantity-button mb-0">
                                <div class="input-group me-3 quantity">
                                    <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}"  class="form-control input-quantity" />
                                    <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                </div>

                                <input type="hidden" name="product_id" value="{{ product_id }}" />
                                <button type="button" id="button-cart2" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                            </div>
                        </div>
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-7 mb-3">
                                <h5>Opis</h5>
                                {{ description }}
                            </div>
                            {% if manufacturer %}
                            <div class="col-lg-5 mb-3">
                                <h5>{{ manufacturer }}</h5>
                             <a href="{{ manufacturers }}">  <img src="{{ manufacturer_logo }}"  class="rounded  mb-2" alt="{{ manufacturer }}"/></a>
                                {{ manufacturer_description }}
                                <a class="btn btn-outline-primary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>

                            </div>
                            {% endif %}


                        </div>
                    </div>
                    <!-- Reviews tab-->
                    <div class="tab-pane fade" id="specs" role="tabpanel">
                        <div class="d-md-flex justify-content-between pb-4 mt-3 mb-4 border-bottom product-features flex-column flex-lg-row">
                            <div class="d-flex align-items-center flex-column flex-sm-row mt-3 mb-3 mt-lg-0 mb-lg-0">
                                {% if thumb or images %}
                                    {% if thumb %}
                                        <img  src="{{ thumb }}" loading="lazy" data-zoom="{{ popup }}" alt="{{ heading_title }}"  width="90" class="me-2" />
                                    {% endif %}
                                {% endif %}
                                <div class="price-wrapper mb-0">
                                 <div class="product-price">
                                     {% if not special %}
                                        <span>{{ price }}</span>
                                    {% else %}
                                        <span>{{ special }} </span>
                                        <del class=" me-3">{{ price }}</del>
                                    {% endif %}
                                </div>

                                        <div class="product-price--web">
                                            <span>Web cijena:</span>
                                            <span> {% if  special %} {{ special }} {% else %} {{ price }} {% endif %}</span>
                                        </div>

                                </div>
                            </div>
                            <div class="product-quantity-button mb-0">
                                <div class="input-group me-3 quantity">
                                    <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}"  class="form-control input-quantity" />
                                    <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <input type="hidden" name="product_id" value="{{ product_id }}" />
                                <button type="button" id="button-cart2" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                            </div>
                        </div>
                        <!-- Reviews-->
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-7 mb-3">
                                {% if spec_description %}
                                    <h5>{{ text_spec_description }}</h5>
                                    <p class="fs-md">{{ spec_description }}</p>
                                {% endif %}
                            </div>
                            {% if manufacturer %}
                                <div class="col-lg-5 mb-3">
                                    <h5>{{ manufacturer }}</h5>
                                    <a href="{{ manufacturers }}">  <img src="{{ manufacturer_logo }}"  alt="{{ manufacturer }}"/></a>
                                    {{ manufacturer_description }}
                                    <a class="btn btn-outline-primary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if products %}
    <!-- Product carousel (You may also like)-->
    <div class="container-fluid pt-lg-2 pb-5 mb-md-3 ">
        <div class="section-title section-title--discount">
            <h2 class="title"> {{ text_related }}</h2>
        </div>
        <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled tns-carousel-product product-holder py-3">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;:false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:3}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
            {% for product in products|slice(0, 10) %}
                <div>
                    <div class="card product-card">
                        <button class="btn-wishlist btn-sm" type="button"  onclick="wishlist.add('{{ product.product_id }}');" ><i class="ci-heart"></i></button>
                        <div class="position-relative">
                            <button class="btn btn-primary btn-basket" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fad fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
                            <div class="card-img-top d-block overflow-hidden" href="{{ product.href }}"><img src="{{ product.thumb }}" loading="lazy" alt="{{ product.name }}"></div>
                            {% if product.freeshipping %}
                            <div class="product-badge-cpta product-badge-cpta__free-shipping">
                                <span> Besplatna dostava</span>
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            {% endif %}
                        </div>
                        <a class="stretched-link" href="{{ product.href }}">
                            <div class="card-body">
                                <h3 class="product-title">{{ product.name }}</h3>
                                {% if product.price %}
                                    <div class="product-price">
                                        {% if product.special %}
                                            <span>{{ product.special }}</span>
                                            <span><del>{{ product.price }}</del></span>
                                        {% else %}
                                            <span> {{ product.price }}</span>
                                        {% endif %}
                                    </div><!-- .price -->
                                {% endif %}
                                {% if product.rating %}
                                    <div class="star-rating {{ product.rating }}"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                                    </div>
                                {% endif %}
                               {% if product.price and product.special %}
                                <div class="product-badge-cpta product-badge-cpta__discount">
                                    <span> Akcija</span>
                                    <span> Uštedi <strong>{{ product.sale_badge }}</strong></span>
                                </div>
                               {% endif %}

                                <div class="product-price--web">
                                    <span>Web cijena:</span>
                                    <span> {% if  product.special %} {{ product.special }} {% else %} {{ product.price }} {% endif %}</span>
                                </div>

                            </div>
                            <div class="product-delivery-time">
                                <i class="fas fa-shipping-timed"></i>
                                <div class="d-flex flex-column">
                                    {% if (product.quantity < 1)  %}
                                    <span>Trenutno nedostupno</span>
                                        <span></span>
                                    {% else %}
                                        <span>Proizvod kod dobavljača</span>
                                        <span>Šaljemo do {{ product.saljemodo }}</span>
                                    {% endif %}

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" id="note">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Zatvori</button>
                    <a href="{{ shopping_cart }}" class="btn btn-primary ">Na plaćanje</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".ddd").on("click", function(event) {
            var $button = $(this);
            var $input = $button.closest('.quantity').find("input.input-quantity");

            if ($button.data('multi') == "1") {
                var newVal = parseFloat($input.val()) + 1;
            } else {
                // Don't allow decrementing below zero
                if ($input.val() > 1) {
                    var newVal = parseFloat($input.val()) - 1;
                } else {
                    newVal = 1;
                }
            }
            $('.input-quantity').val(newVal);
        });

    </script>
    <script>
       // $('#button-cart').on('click', function() {
            $("#button-cart,#button-cart2,#button-cart3").on('click', function(){
            $.ajax({
                url: 'index.php?route=extension/basel/basel_features/add_to_cart',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',

                success: function(json) {
                    $('.alert, .text-danger').remove();
                    $('.table-cell').removeClass('has-error');

                    if (json.error) {
                        if (json.error.option) {
                            for (i in json.error.option) {
                                var element = $('#input-option' + i.replace('_', '-'));

                                if (element.parent().hasClass('input-group')) {
                                    element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                } else {
                                    element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                }
                            }
                        }


                        // Highlight any found errors
                        $('.text-danger').parent().addClass('has-error');
                    }

                    if (json.success_redirect) {

                        location = json.success_redirect;

                    } else if (json.success) {

                       // $('#note').prepend('<div class="alert alert-success alert-dismissible fade show popup-note" role="alert">'  + json.success + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');

                        $('#myModal').modal('show');
                        $('#note').html('<div class="row"><div class="col-sm-3 col-lg-4"><img src="' + json.image + '" /></div><div class="col-sm d-flex align-items-center"><p class="align-middle">' + json.success +'</p></div></div>');


                        $('.table-cell').removeClass('has-error');

                        setTimeout(function() {$('.popup-note').hide();}, 4000);
                        // Need to set timeout otherwise it wont update the total
                        setTimeout(function () {
                            $('.cart-total-items').html( json.total_items );
                            $('.cart-total-amount').html( json.total_amount );
                        }, 100);

                        $('#cart-content').load('index.php?route=common/cart/info #cart-content > *');


                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
      </script>


{{ footer }}