{{ header }}
<main class="offcanvas-enabled" style="padding-top: 5rem;">
    <!-- Custom page title-->
    <div class="page-title-overlap  pt-4 ps-lg-4 pe-lg-3">
        <div class="container  py-2 py-lg-3">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="category-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bg-white shadow-lg rounded-3" id="note">
            <!-- Tabs-->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="#general" data-bs-toggle="tab" role="tab">Fotogalerija <span class='d-none d-sm-inline'>Info</span></a></li>
                <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#specs" data-bs-toggle="tab" role="tab"><span class='d-none d-sm-inline'>Opis </span> </a></li>
                <li class="nav-item"><a class="nav-link py-4 px-sm-4" href="#reviews" data-bs-toggle="tab" role="tab">Komentari <span class="fs-sm opacity-60">(74)</span></a></li>
            </ul>
            <div class="px-4 pt-lg-3 pb-3 mb-5">
                <div class="tab-content px-lg-3">
                    <!-- General info tab-->
                    <div class="tab-pane fade show active" id="general" role="tabpanel">
                        <div class="row">
                            <!-- Product gallery-->
                            <div class="col-lg-6 pe-lg-0">
                                <div class="product-gallery" style="display: block !important;">
                                    <div class="product-gallery-preview ">
                                        {% if thumb or images %}
                                            {% if thumb %}
                                                <div class="product-gallery-preview-item active" id="first"><img  src="{{ thumb }}" data-zoom="{{ popup }}" alt="{{ heading_title }}">
                                                    <div class="image-zoom-pane"></div>
                                                </div>
                                            {% endif %}
                                            {% for image in images %}
                                                <div class="product-gallery-preview-item" id="image{{ image.imageid }}"><img  src="{{ image.popup }}"  alt="Product image"></div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% if images %}
                                    <div class="d-flex">
                                        <div class="product-gallery-thumblist mx-auto justify-content-center">

                                            {% for image in images %}
                                                {% if thumb  %}
                                                    <a class="product-gallery-thumblist-item active" style="display: inline-block !important;" href="#first"><img src="{{ thumb_sm }}" alt="{{ heading_title }}"></a>
                                                {% endif %}
                                                <a class="product-gallery-thumblist-item" style="display: inline-block !important;" href="#image{{ image.imageid }}"><img src="{{ image.thumb }}" alt="{{ heading_title }}"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product details-->
                            <div class="col-lg-6 pt-4 pt-lg-0">
                                <div class="product-details ms-auto pb-3" id="product">
                                    <div class="mb-3">
                                        {% if not special %}
                                            <span class="h3 fw-normal text-accent me-1">{{ price }}</span>
                                        {% else %}
                                            <span class="h3 fw-normal text-accent me-1">{{ price }}</span>
                                            <del class="text-muted fs-lg me-3">{{ special }}</del>
                                            {% if price and special and sale_badge %}
                                                <span class="badge bg-danger badge-shadow align-middle mt-n2">{{ sale_badge }}</span>
                                            {% endif %}
                                            <span id="special_countdown"></span>
                                        {% endif %}
                                    </div>



                                    <div class="mb-3 d-flex align-items-center">

                                        <div class="input-group me-3 sp-quantity">
                                            <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}" id="input-quantity"   class="form-control input-quantity " />
                                            <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                                <i class="fas fa-plus"></i>
                                            </button>

                                        </div>

                                       <script>
                                        $(".ddd").on("click", function() {
                                        var $button = $(this);
                                        var $input = $button.closest('.sp-quantity').find("input.input-quantity");
                                        $input.val((i, v) => Math.max(1, +v + 1 * $button.data('multi')));
                                        });

                                        </script>



                                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                                    </div>

                                    {% if minimum > 1 %}
                                        <div class="alert alert-sm alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                    {% endif %}

                                    <div class="d-flex mb-4">
                                        <div class="w-100 me-3">
                                            <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-heart fs-lg me-2"></i><span class='d-none d-sm-inline'>Add to </span>Wishlist</button>
                                        </div>
                                        <div class="w-100">
                                            <button class="btn btn-secondary d-block w-100" type="button"><i class="ci-compare fs-lg me-2"></i>Compare</button>
                                        </div>
                                    </div>
                                    <!-- Product panels-->
                                    <div class="accordion mb-4" id="productPanels">
                                        <div class="accordion-item">
                                            <h3 class="accordion-header"><a class="accordion-button" href="#productInfo" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="productInfo"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Osnovne značajke</a></h3>
                                            <div class="accordion-collapse collapse show" id="productInfo" data-bs-parent="#productPanels">
                                                <div class="accordion-body">
                                                    {% if meta_description_status and meta_description %}
                                                        <p class="fs-md">{{ meta_description }}</p>
                                                    {% endif %}
                                                    <h6 class="fs-sm mb-2">{{ text_model }}</h6>
                                                    <ul class="fs-sm ps-4 mb-0">
                                                        <li>{{ model }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h3 class="accordion-header"><a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="ci-delivery text-muted lead align-middle mt-n1 me-2"></i>Shipping options</a></h3>
                                            <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                                                <div class="accordion-body fs-sm">
                                                    <div class="d-flex justify-content-between border-bottom pb-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark">Courier</div>
                                                            <div class="fs-sm text-muted">2 - 4 days</div>
                                                        </div>
                                                        <div>$26.50</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark">Local shipping</div>
                                                            <div class="fs-sm text-muted">up to one week</div>
                                                        </div>
                                                        <div>$10.00</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark">Flat rate</div>
                                                            <div class="fs-sm text-muted">5 - 7 days</div>
                                                        </div>
                                                        <div>$33.85</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark">UPS ground shipping</div>
                                                            <div class="fs-sm text-muted">4 - 6 days</div>
                                                        </div>
                                                        <div>$18.00</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between pt-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark">Local pickup from store</div>
                                                            <div class="fs-sm text-muted">&mdash;</div>
                                                        </div>
                                                        <div>$0.00</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h3 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="ci-location text-muted fs-lg align-middle mt-n1 me-2"></i>Find in local store</a></h3>
                                            <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                                                <div class="accordion-body">
                                                    <select class="form-select">
                                                        <option value>Select your country</option>
                                                        <option value="Argentina">Argentina</option>
                                                        <option value="Belgium">Belgium</option>
                                                        <option value="France">France</option>
                                                        <option value="Germany">Germany</option>
                                                        <option value="Spain">Spain</option>
                                                        <option value="UK">United Kingdom</option>
                                                        <option value="USA">USA</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tech specs tab-->
                    <div class="tab-pane fade" id="specs" role="tabpanel">
                        <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                            <div class="d-flex align-items-center me-md-3"><img src="img/shop/single/gallery/th05.jpg" width="90" alt="Product thumb">
                                <div class="ps-3">
                                    <h6 class="fs-base mb-2">Smartwatch Youth Edition</h6>
                                    <div class="h4 fw-normal text-accent">$124.<small>99</small></div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <select class="form-select me-2" style="width: 5rem;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                                <div class="me-2">
                                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                                </div>
                                <div>
                                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-6 col-sm-6">
                                <h3 class="h6">Opis</h3>
                                {{ description }}
                            </div>
                            {% if manufacturer %}
                            <div class="col-lg-6 col-sm-6">
                                <h3 class="h6">{{ manufacturer }}</h3>
                                <a class="btn btn-secondary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>

                            </div>
                            {% endif %}


                        </div>
                    </div>
                    <!-- Reviews tab-->
                    <div class="tab-pane fade" id="reviews" role="tabpanel">
                        <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                            <div class="d-flex align-items-center me-md-3"><img src="img/shop/single/gallery/th05.jpg" width="90" alt="Product thumb">
                                <div class="ps-3">
                                    <h6 class="fs-base mb-2">Smartwatch Youth Edition</h6>
                                    <div class="h4 fw-normal text-accent">$124.<small>99</small></div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center pt-3">
                                <select class="form-select me-2" style="width: 5rem;">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <button class="btn btn-primary btn-shadow me-2" type="button"><i class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                                <div class="me-2">
                                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                                </div>
                                <div>
                                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i class="ci-compare fs-lg"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Reviews-->
                        <div class="row pt-2 pb-3">
                            <div class="col-lg-4 col-md-5">
                                <h2 class="h3 mb-4">74 Reviews</h2>
                                <div class="star-rating me-2"><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star fs-sm text-muted me-1"></i></div><span class="d-inline-block align-middle">4.1 Overall rating</span>
                                <p class="pt-3 fs-sm text-muted">58 out of 74 (77%)<br>Customers recommended this product</p>
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">5</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                                    <div class="w-100">
                                        <div class="progress" style="height: 4px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div><span class="text-muted ms-3">43</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">4</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                                    <div class="w-100">
                                        <div class="progress" style="height: 4px;">
                                            <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div><span class="text-muted ms-3">16</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">3</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                                    <div class="w-100">
                                        <div class="progress" style="height: 4px;">
                                            <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div><span class="text-muted ms-3">9</span>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">2</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                                    <div class="w-100">
                                        <div class="progress" style="height: 4px;">
                                            <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #fea569;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div><span class="text-muted ms-3">4</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">1</span><i class="ci-star-filled fs-xs ms-1"></i></div>
                                    <div class="w-100">
                                        <div class="progress" style="height: 4px;">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div><span class="text-muted ms-3">2</span>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-4 mb-3">
                        <div class="row py-4">
                            <!-- Reviews list-->
                            <div class="col-md-7">
                                <div class="d-flex justify-content-end pb-4">
                                    <div class="d-flex flex-nowrap align-items-center">
                                        <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">Sort by:</label>
                                        <select class="form-select form-select-sm" id="sort-reviews">
                                            <option>Newest</option>
                                            <option>Oldest</option>
                                            <option>Popular</option>
                                            <option>High rating</option>
                                            <option>Low rating</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Review-->
                                <div class="product-review pb-4 mb-4 border-bottom">
                                    <div class="d-flex mb-3">
                                        <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle" src="img/shop/reviews/01.jpg" width="50" alt="Rafael Marquez">
                                            <div class="ps-3">
                                                <h6 class="fs-sm mb-0">Rafael Marquez</h6><span class="fs-ms text-muted">June 28, 2019</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                                            </div>
                                            <div class="fs-ms text-muted">83% of users found this review helpful</div>
                                        </div>
                                    </div>
                                    <p class="fs-md mb-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...</p>
                                    <ul class="list-unstyled fs-ms pt-1">
                                        <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                        <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                    </ul>
                                    <div class="text-nowrap">
                                        <button class="btn-like" type="button">15</button>
                                        <button class="btn-dislike" type="button">3</button>
                                    </div>
                                </div>
                                <!-- Review-->
                                <div class="product-review pb-4 mb-4 border-bottom">
                                    <div class="d-flex mb-3">
                                        <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle" src="img/shop/reviews/02.jpg" width="50" alt="Barbara Palson">
                                            <div class="ps-3">
                                                <h6 class="fs-sm mb-0">Barbara Palson</h6><span class="fs-ms text-muted">May 17, 2019</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i>
                                            </div>
                                            <div class="fs-ms text-muted">99% of users found this review helpful</div>
                                        </div>
                                    </div>
                                    <p class="fs-md mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <ul class="list-unstyled fs-ms pt-1">
                                        <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi, tempora</li>
                                        <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                                    </ul>
                                    <div class="text-nowrap">
                                        <button class="btn-like" type="button">34</button>
                                        <button class="btn-dislike" type="button">1</button>
                                    </div>
                                </div>
                                <!-- Review-->
                                <div class="product-review pb-4 mb-4 border-bottom">
                                    <div class="d-flex mb-3">
                                        <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle" src="img/shop/reviews/03.jpg" width="50" alt="Daniel Adams">
                                            <div class="ps-3">
                                                <h6 class="fs-sm mb-0">Daniel Adams</h6><span class="fs-ms text-muted">May 8, 2019</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                                            </div>
                                            <div class="fs-ms text-muted">75% of users found this review helpful</div>
                                        </div>
                                    </div>
                                    <p class="fs-md mb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                                    <ul class="list-unstyled fs-ms pt-1">
                                        <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi</li>
                                        <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae,  quis autem, voluptatem sequ</li>
                                    </ul>
                                    <div class="text-nowrap">
                                        <button class="btn-like" type="button">26</button>
                                        <button class="btn-dislike" type="button">9</button>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-outline-accent" type="button"><i class="ci-reload me-2"></i>Load more reviews</button>
                                </div>
                            </div>
                            <!-- Leave review form-->
                            <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                                <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                                    <h3 class="h4 pb-2">Write a review</h3>
                                    <form class="needs-validation" method="post" novalidate>
                                        <div class="mb-3">
                                            <label class="form-label" for="review-name">Your name<span class="text-danger">*</span></label>
                                            <input class="form-control" type="text" required id="review-name">
                                            <div class="invalid-feedback">Please enter your name!</div><small class="form-text text-muted">Will be displayed on the comment.</small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="review-email">Your email<span class="text-danger">*</span></label>
                                            <input class="form-control" type="email" required id="review-email">
                                            <div class="invalid-feedback">Please provide valid email address!</div><small class="form-text text-muted">Authentication only - we won't spam you.</small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
                                            <select class="form-select" required id="review-rating">
                                                <option value="">Choose rating</option>
                                                <option value="5">5 stars</option>
                                                <option value="4">4 stars</option>
                                                <option value="3">3 stars</option>
                                                <option value="2">2 stars</option>
                                                <option value="1">1 star</option>
                                            </select>
                                            <div class="invalid-feedback">Please choose rating!</div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="review-text">Review<span class="text-danger">*</span></label>
                                            <textarea class="form-control" rows="6" required id="review-text"></textarea>
                                            <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="review-pros">Pros</label>
                                            <textarea class="form-control" rows="2" placeholder="Separated by commas" id="review-pros"></textarea>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label" for="review-cons">Cons</label>
                                            <textarea class="form-control" rows="2" placeholder="Separated by commas" id="review-cons"></textarea>
                                        </div>
                                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Submit a Review</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if products %}
    <!-- Product carousel (You may also like)-->
    <div class="container pt-lg-2 pb-5 mb-md-3 ">
        <h2 class="h3 text-center pb-4">{{ text_related }}</h2>
        <div class="tns-carousel tns-controls-static tns-controls-outside ">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:4}}}">
                {% for product in products %}
                    <div class="pt-3 pb-3">
                        <div class="card product-card">
                            {# <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}"><i class="ci-heart"></i></button> #}
                            <div class="position-relative">
                                <button class="btn btn-primary btn-basket" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fad fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
                                <div class="card-img-top d-block overflow-hidden" href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></div>
                                <div class="product-badge-cpta product-badge-cpta__free-shipping">
                                    <span> Besplatna dostava</span>
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                            </div>
                            <a class="stretched-link" href="{{ product.href }}">

                                <div class="card-body">
                                    <h3 class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                                    {% if product.price %}
                                        <div class="product-price">
                                            {% if product.special %}
                                                <span>{{ product.price }}</span>
                                                <span><del>{{ product.special }}</del></span>
                                            {% else %}
                                                <span> {{ product.price }}</span>
                                            {% endif %}
                                        </div><!-- .price -->
                                    {% endif %}
                                    {% if product.rating %}
                                        <div class="star-rating {{ product.rating }}"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                                        </div>
                                    {% endif %}
                                    <div class="product-badge-cpta product-badge-cpta__discount">
                                        <span> Black Friday</span>
                                        <span> Uštedi <strong>54%</strong></span>
                                    </div>
                                    <div class="product-price--web">
                <span>
                    Web cijena:
                </span>
                                        <span>
                    {{ product.price }}
                </span>
                                    </div>
                                </div>
                                <div class="product-delivery-time">
                                    <i class="fas fa-shipping-timed"></i>
                                    <div class="d-flex flex-column">
               <span>
               Proizvod kod dobavljača
               </span>
                                        <span>
              Šaljemo do 05.05.2021
               </span>
                                    </div>
                                </div>

                            </a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <script><!--
        $('#button-cart').on('click', function() {
            $.ajax({
                url: 'index.php?route=extension/basel/basel_features/add_to_cart',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',

                success: function(json) {
                    $('.alert, .text-danger').remove();
                    $('.table-cell').removeClass('has-error');

                    if (json.error) {
                        $('.basel-spinner.ajax-call').remove();
                        if (json.error.option) {
                            for (i in json.error.option) {
                                var element = $('#input-option' + i.replace('_', '-'));

                                if (element.parent().hasClass('input-group')) {
                                    element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                } else {
                                    element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                }
                            }
                        }

                        if (json.error.recurring) {
                            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                        }

                        // Highlight any found errors
                        $('.text-danger').parent().addClass('has-error');
                    }

                    if (json.success_redirect) {

                        location = json.success_redirect;

                    } else if (json.success) {

                        $('#note').prepend('<div class="alert alert-success alert-dismissible fade show popup-note" role="alert">'  + json.success + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');

                        $('.table-cell').removeClass('has-error');

                        setTimeout(function() {$('.popup-note').hide();}, 4000);
                        // Need to set timeout otherwise it wont update the total
                        setTimeout(function () {
                            $('.cart-total-items').html( json.total_items );
                            $('.cart-total-amount').html( json.total_amount );
                        }, 100);

                        $('#cart-content').load('index.php?route=common/cart/info #cart-content > *');
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
        //--></script>
{{ footer }}