{{ header }}
<script type="application/ld+json">
                    {
                      "@context": "http://schema.org/",
                      "@type": "Product",
                        "name": "{{ heading_title }}",
                        "description": "{{description [:220] | striptags }} ...",
                        "image" : "{{ slika }}",
                        "sku": "{{ model }}",
                        "gtin14": "{{ upc }}",
                        "brand": {
                            "@type": "Brand",
                            "name": "{{ manufacturer }}"
                         },
                        "offers": {
                        "@type": "Offer",
                         "url": "{{ url }}",
                        "priceCurrency": "HRK",
                        {% if price %}"price": "{{ price|replace({'kn': '', ',' : '.', '.' : ''}) }}",
                        {% else %}"price": "{{ special|replace({'kn': '', ',' : '.', '.' : ''}) }}",{% endif %}
                        "priceValidUntil": "{{ pricevaliduntil }}",
                        "itemCondition" : "http://schema.org/NewCondition",
                        "availability" : "https://schema.org/InStock"
                      }
                    }
                    </script>
<main class="offcanvas-enabled product-container">
    <div class="page-title-overlap  pt-4">
        <div class="container-fluid py-2">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="product-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% set breadcrumbs = breadcrumbs|slice(0,-1) %}
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bg-white shadow-lg rounded-3" >
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#general" data-bs-toggle="tab" role="tab">Info</a></li>
                <li class="nav-item"><a class="nav-link" href="#description" data-bs-toggle="tab" role="tab">Opis  </a></li>
                {% if attribute_groups %}   <li class="nav-item"><a class="nav-link" href="#specs" data-bs-toggle="tab" role="tab">Specifikacije </a></li>  {% endif %}
            </ul>
            <div class="pb-3 mb-5">
                <div class="tab-content px-3">
                    <div class="tab-pane fade show active" id="general" role="tabpanel">
                        <div class="row">
                            <!-- Product gallery-->
                            <div class="col-md-5" style="max-width:580px">
                                <div class="product-gallery " style="display: block !important;">
                                    <div class="product-gallery-preview gallery">
                                        {% if thumb or images %}
                                            {% if thumb %}
                                                <div class="product-gallery-preview-item active" id="first"><a class="gallery-item rounded-3" href="{{ popup }}" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;{{ heading_title }}&lt;/h6&gt;"><img  src="{{ thumb }}"  data-zoom="{{ popup }}" alt="{{ heading_title }}" title="{{ heading_title }}"></a>
                                                </div>
                                            {% endif %}
                                            {% for image in images %}
                                                <div class="product-gallery-preview-item" id="image{{ image.imageid }}"><a class="gallery-item rounded-3" href="{{ image.popup }}" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;{{ heading_title }}&lt;/h6&gt;"><img  src="{{ image.thumb_lg }}" loading="lazy" alt="{{ heading_title }}" title="{{ heading_title }}"></a></div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% if images %}
                                        <div class="d-flex">
                                            <div class="product-gallery-thumblist mx-auto justify-content-center" style="display: flex;flex-wrap: wrap;">
                                                {% if thumb  %}
                                                    <a class="product-gallery-thumblist-item active" style="display: inline-block !important;" href="#first"><img loading="lazy" src="{{ thumb_sm }}" alt="{{ heading_title }}"></a>
                                                {% endif %}
                                                {% for image in images %}

                                                    <a class="product-gallery-thumblist-item" style="display: inline-block !important;" href="#image{{ image.imageid }}"><img loading="lazy" src="{{ image.thumb }}" alt="{{ heading_title }}"></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product details-->
                            <div class="col-md-7 col-xxxl-7" style="min-width: 1px;">
                                <div class="product-features" id="product">
                                    <div class="badges-wrapper {% if freeshipping == false and special == '' %} mt-2 {% endif %} {% if groupId > 1 %}mt-2 {% endif %}">
                                        {% if freeshipping and groupId < 3 %}
                                            <div class="product-badge-cpta product-badge-cpta__free-shipping me-3">
                                                <span> Besplatna dostava</span>
                                                <i class="fas fa-shipping-fast"></i>
                                            </div>
                                        {% endif %}
                                        {% if price and special and sale_badge %}
                                            <div class="product-badge-cpta product-badge-cpta__discount">
                                                <span> {{ pj }} Akcija</span>
                                                <span> Uštedi <strong>{{ sale_badge }}</strong></span>
                                            </div>
                                        {% endif %}
                                    </div>

                                    {% if groupId < 3 %}
                                        <p class="product-id"><strong>{{ text_model }}</strong> {{ model }}</p>
                                    {% else %}
                                        <p ><strong>{{ text_model }}</strong> {{ model }}</p>
                                    {% endif %}
                                    <div class="description-short   ">
                                        {% if short_description %}
                                            <h5 class="title">{{ text_short_description }}</h5>
                                            {{ short_description }}
                                        {% endif %}
                                    </div>

                                    {% if groupId < 3 %}
                                        <div class="price-wrapper">
                                            <div class="product-price">
                                                {% if not special %}
                                                    <span>{{ price_2 }}</span>
                                                {% else %}

                                                    <span> {% if pj !='WEB' %} <del> {% endif %} {{ price_2 }} {% if pj !='WEB' %} </del> {% endif %}</span>

                                                    <span id="special_countdown"></span>
                                                {% endif %}
                                            </div>

                                            <div class="product-price--web">
                                                <span>{% if  special %} {{ pj }} Akcija:{% else %}   {% if price_2 != price %} Web cijena:  {% endif %}{% endif %}</span>
                                                <span> {% if  special %}{{ special }} {% else %} {% if price_2 != price %} {{ price }} {% endif %} {% endif %}</span>
                                            </div>

                                        </div>
                                    {% else %}

                                        <div class="price-wrapper">
                                            <div class="product-price">


                                                {% if discounts %}
                                                    {% for discount in discounts %}
                                                        <span>{{ discount.price }} + PDV</span>
                                                    {% endfor %}

                                                {% else %}
                                                    <span> {{ price }} + PDV</span>
                                                {% endif %}


                                            </div>

                                            <div class="product-price--web">

                                                <span>Preporučena MPC</span>
                                                <span>{{ price_2 }}</span>

                                            </div>

                                        </div>

                                    {% endif %}
                                    {% if qty < 5 and qty > 0 %}
                                    <div class="text-danger mb-3" >
                                    Dostupno manje od 5 kom
                                    </div>
                                    {% endif %}

                                    {% if prikazrata  and groupId < 3 %}
                                        <div class="buying-choices mb-1 mt-n1 mt-md-n3">
                                            <div class="choices-wrapper">
                                                <i class="fas fa-badge-percent"></i>
                                                <span class="first"> 12 x {{ ratedvanaest }}</span>
                                                <span class="second">24 x {{ ratedvacetiri }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if jamstvo and groupId < 3 %}
                                        <div class="warranty-time mb-4"><i class="fas fa-clock"></i> <span>Jamstvo: <strong>{{ jamstvo }} </strong></span></div>
                                    {% endif %}
                                    <div class="product-quantity-button">
                                        <div class="input-group me-0 me-sm-3 quantity">
                                            {% if groupId > 3  %}

                                                {% set qty = 5000  %}
                                                <input type="text" step="1" min="{{ minimum }}" max="{{ qty }}" name="quantity" value="{{ minimum }}" id="input-quantity"  class="form-control input-quantity"  />
                                            {% else %}
                                                <input type="text" step="{{ pakiranje }}" min="{{ minimum * pakiranje }}" max="{{ qty }}" name="quantity" value="{{ minimum * pakiranje }}" id="input-quantity"  class="form-control input-quantity"  />
                                            {% endif %}
                                            <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <input type="hidden" name="product_id" value="{{ product_id }}" />
                                        <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100 me-3">{% if ((qty < 1) and (stock_badge_status)) %} {{ basel_text_out_of_stock }} {% else %} {{ button_cart }} {% endif %}</button>
                                        <button class="btn btn-outline-secondary btn-wishlist-v2" onclick="wishlist.add('{{ product_id }}');" type="button"><i class="fal fa-heart fs-lg "></i></button>
                                    </div>
                                    <div class="text-danger porukareach mb-3 d-none" >Dosegli ste maksimum raspoloživosti - {{ qty }}</div>
                                    {% if minimum > 1 %}
                                        <div class="alert alert-sm alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                    {% endif %}
                                    {% if groupId < 3 %}
                                        <div class="accordion product-accordion mb-4" id="productPanels">
                                            <div class="accordion-item">
                                                <h4 class="accordion-header"><a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="fal fa-map-marker-minus text-muted lead align-middle mt-n1 me-3"></i>Dostupnost proizvoda po poslovnicama</a></h4>
                                                <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                                                    <div class="accordion-body" id="availability-view">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h4 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="fal fa-tags text-muted fs-lg align-middle mt-n1 me-3"></i>Način plaćanja na web shopu</a></h4>
                                                <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                                                    <div class="accordion-body">
                                                        <h6 class="mt-2">Jednokratno plaćanje:</h6>
                                                        <ul>
                                                            <li> Internet bankarstvo (virman)</li>
                                                            <li> Pouzećem - plaćanje gotovinom dostavljaču kod isporuke paketa</li>
                                                            <li>Maestro, MasterCard, Visa, Visa Premium</li>
                                                        </ul>

                                                        <h6 class="mt-3">Obročno plaćanje:</h6>
                                                        <ul class="mb-2">
                                                            <li>MasterCard ZABA do 24 rate</li>
                                                            <li> Visa Premium do 10 rata</li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-delivery-time">
                                            <i class="fas fa-shipping-timed" id="availability-icon"></i>
                                            <div class="d-flex flex-column">
                                                <span id="availability-title"></span>
                                                <span id="availability-subtitle"></span>
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="description" role="tabpanel">
                        {% if groupId < 3 %}
                            <div class="d-md-flex justify-content-between pb-4 mt-3 mb-4 border-bottom product-features flex-column flex-lg-row">
                                <div class="d-flex align-items-center flex-column flex-sm-row mt-3 mb-3 mt-lg-0 mb-lg-0">
                                    {% if thumb or images %}
                                        {% if thumb %}
                                            <img  src="{{ thumb_sm }}"  style="width: 90px;height:90px" data-zoom="{{ popup }}" loading="lazy" alt="{{ heading_title }}"  width="90" class="me-2" />
                                        {% endif %}
                                    {% endif %}
                                    <div class="price-wrapper mb-0">
                                        <div class="product-price">
                                            {% if not special %}
                                                <span>{{ price_2 }}</span>
                                            {% else %}

                                            {% if pj !='WEB' %} <del> {% endif %} {{ price_2 }} {% if pj !='WEB' %} </del> {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="product-price--web">
                                            <span>{% if  special %}{{ pj }} Akcija:{% else %} {% if price_2 != price %} Web cijena:{% endif %} {% endif %}</span>
                                            <span> {% if  special %} {{ special }} {% else %}  {% if price_2 != price %} {{ price }} {% endif %} {% endif %}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-quantity-button mb-0">
                                    <div class="input-group me-0 me-sm-3 quantity">
                                        <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}" max="{{ qty }}"   id="input-quantitydva" class="form-control input-quantity" />
                                        <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                                    <button type="button" id="button-cart2" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-7 mb-3">
                                <h5>Opis</h5>
                                {{ description }}
                            </div>
                            {% if manufacturer %}
                                <div class="col-lg-5 mb-3">
                                    <h5>{{ manufacturer }}</h5>
                                    {% if manufacturer_logo %}
                                        <a href="{{ manufacturers }}">  <img src="{{ manufacturer_logo }}"  class="rounded  mb-2" alt="{{ manufacturer }}"/></a>
                                    {% endif %}
                                    {% if manufacturer_description %}
                                        {{ manufacturer_description }}
                                    {% endif %}
                                    <a class="btn btn-outline-primary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>

                                </div>
                            {% endif %}


                        </div>
                    </div>
                    {% if attribute_groups %}
                    <div class="tab-pane fade" id="specs" role="tabpanel">
                        {% if groupId < 3 %}
                            <div class="d-md-flex justify-content-between pb-4 mt-3 mb-4 border-bottom product-features flex-column flex-lg-row">
                                <div class="d-flex align-items-center flex-column flex-sm-row mt-3 mb-3 mt-lg-0 mb-lg-0">
                                    {% if thumb or images %}
                                        {% if thumb %}
                                            <img  src="{{ thumb_sm }}"  style="width: 90px;height:90px" loading="lazy" data-zoom="{{ popup }}" alt="{{ heading_title }}"  width="90" class="me-2" />
                                        {% endif %}
                                    {% endif %}
                                    <div class="price-wrapper mb-0">
                                        <div class="product-price">
                                            {% if not special %}
                                                <span>{{ price_2 }}</span>
                                            {% else %}

                                            {% if pj !='WEB' %} <del> {% endif %} {{ price_2 }}  {% if pj !='WEB' %} </del> {% endif %}
                                            {% endif %}
                                        </div>

                                        <div class="product-price--web">
                                            <span>{% if  special %}{{ pj }} Akcija:{% else %}  {% if price_2 != price %} Web cijena:{% endif %} {% endif %}</span>
                                            <span> {% if  special %} {{ special }} {% else %} {% if price_2 != price %} {{ price }} {% endif %} {% endif %}</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="product-quantity-button mb-0">
                                    <div class="input-group me-0 me-sm-3 quantity">
                                        <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}"  max="{{ qty }}"   id="input-quantitydva" class="form-control input-quantity" />
                                        <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                                    <button type="button" id="button-cart3" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                                </div>
                            </div>
                        {% endif %}

                        <!-- Reviews-->
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-7 mb-3">
                                <h5>{{ text_spec_description }}</h5>
                                <!--<p class="fs-md">{{ spec_description }}</p>-->

                                {% if attribute_groups %}
                                    <div class="table-responsive">
                                        <table class="table table-striped specification">
                                            {% for attribute_group in attribute_groups %}
                                                <tbody>
                                                {% for attribute in attribute_group.attribute %}
                                                    <tr>
                                                        <td class="text-left"><b>{{ attribute.name }}</b></td>
                                                        <td class="text-right">{{ attribute.text }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}


                            </div>
                            {% if manufacturer %}
                                <div class="col-lg-5 mb-3">
                                    <h5>{{ manufacturer }}</h5>
                                    {% if manufacturer_logo %}
                                        <a href="{{ manufacturers }}">  <img src="{{ manufacturer_logo }}"  class="rounded  mb-2" alt="{{ manufacturer }}"/></a><br>
                                    {% endif %}
                                    {% if manufacturer_description %}
                                        {{ manufacturer_description }}
                                    {% endif %}
                                    <a class="btn btn-outline-primary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if products %}
        <div class="container-fluid pt-lg-2 pb-5 mb-md-3 ">
            <div class="section-title section-title--discount">
                <h2 class="title"> {{ text_related }}</h2>
            </div>
            <div class="tns-carousel tns-controls-static tns-controls-inside tns-nav-enabled tns-carousel-product product-holder py-3">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;:true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:3}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">
                    {% for product in products|slice(0, 10) %}
                        <div>
                            <div class="card product-card">
                                <div class="position-relative">
                                    {% if (product.quantity > 0)  %}
                                        <button class="btn btn-primary btn-basket" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fas fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
                                    {% endif %}
                                    <div class="card-img-top d-block overflow-hidden" href="{{ product.href }}"><img src="{{ product.thumb }}" loading="lazy" title="{{ product.name }}" alt="{{ product.name }}"></div>
                                    {% if product.freeshipping and groupId < 3 %}
                                        <div class="product-badge-cpta product-badge-cpta__free-shipping">
                                            <span> Besplatna dostava</span>
                                            <i class="fas fa-shipping-fast"></i>
                                        </div>
                                    {% endif %}
                                </div>
                                <a class="stretched-link" href="{{ product.href }}">
                                    <div class="card-body">
                                        <h3 class="product-title">{{ product.name }}</h3>
                                        {% if groupId < 3 %}
                                            {% if product.price %}
                                                <div class="product-price">
                                                    {% if product.special %}

                                                        <span><del>{{ product.price_2 }}</del></span>
                                                    {% else %}
                                                        <span> {{ product.price_2 }}</span>
                                                    {% endif %}

                                                </div>
                                            {% endif %}
                                            {% if product.rating %}
                                                <div class="star-rating {{ product.rating }}"><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fas fa-star active"></i><i class="star-rating-icon fal fa-star"></i>
                                                </div>
                                            {% endif %}
                                            {% if product.price and product.special %}
                                                <div class="product-badge-cpta product-badge-cpta__discount">
                                                    <span> Akcija</span>
                                                    <span> Uštedi <strong>{{ product.sale_badge }}</strong></span>
                                                </div>
                                            {% endif %}

                                            <div class="product-price--web">
                                                <span>{% if  product.special %} Akcija: {% else %} {% if product.price_2 != product.price %} Web cijena: {% endif %} {% endif %}</span>
                                                <span> {% if  product.special %} {{ product.special }} {% else %} {% if product.price_2 != product.price %} {{ product.price }} {% endif %} {% endif %}</span>
                                            </div>
                                        {% else %}

                                            {% if product.price %}
                                                <div class="product-price--web">
                                                    <span style="font-weight:300;color: #828282;"> Preporučena MPC </span>
                                                    <span> {{ product.price_2 }}</span>
                                                </div>
                                            {% endif %}


                                            <div class="product-price">
                                                <span>  {{ product.price }} + PDV </span>
                                            </div>



                                        {% endif %}







                                    </div>

                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" id="note">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Zatvori</button>
                    <a href="{{ shopping_cart }}" class="btn btn-primary ">Na plaćanje</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(() => {
            $.ajax({
                type: 'get',
                url: 'index.php?route=product/product/availability&sifra={{ model }}',
                beforeSend: function() {
                    //$('#button-confirm').button('loading');
                    console.log('beforeSend: function()')
                },
                complete: function() {
                    //$('#button-confirm').button('reset');
                    console.log('complete: function()')
                },
                success: (json) => {
                    console.log(json);
                    let html = '';
                    let qty = '';

                    let title = '';
                    let subtitle = '';
                    let icon = '';
                    let btn_title = '';

                    for (key in json) {
                        if (json.hasOwnProperty(key)) {
                            if (!['Web', 'Dobavljač', 'Btn'].includes(json[key].title)) {
                                if (json[key].qty) {
                                    qty = 'fa-check text-success';
                                } else {
                                    qty = 'fa-times text-danger';
                                }

                                html += '<div class="d-flex poslov justify-content-between border-bottom py-3"><div><div class="fw-semibold text-dark"><a href="http://maps.google.com/?q=' + json[key].title + ' - ' + json[key].address + '" target="_blank">' + json[key].title + ' - ' + json[key].address + '</a></div></div><div><i class="fas ' + qty + ' me-2"></i></div></div>';

                            }

                            if (['Btn'].includes(json[key].title)) {
                                title = json[key].address;
                                if (json[key].qty) {
                                    subtitle = json[key].qty;
                                }
                                icon = json[key].btn;
                                btn_title = json[key].button;
                            }
                        }
                    }

                    $('#availability-view').html(html);
                    $(".poslov").last().removeClass("border-bottom");

                    $('#availability-title').html(title);
                    $('#availability-subtitle').html(subtitle);
                    $('#availability-icon').addClass('text-' + icon);

                    if (title != 'DOSTUPNO ODMAH') {
                        $('#button-cart,#button-cart2,#button-cart3').html(btn_title);
                    }
                }
            });
        });
    </script>
    <script>
        $('#input-quantity').change(function() {
            var newVal = parseFloat($('#input-quantity').val());
            var newMax = parseFloat($('#input-quantity').attr('max'));
            if (newVal <= newMax ) {
                $('.input-quantity').val(newVal);
                $('.porukareach').addClass('d-none');
            }
            else{
                $('.input-quantity').val(newMax);
                $('.porukareach').removeClass('d-none');
            }

        });

        $('#input-quantitydva').change(function() {
            var newVal = parseFloat($('#input-quantitydva').val());
            var newMax = parseFloat($('#input-quantitydva').attr('max'));
            if (newVal <= newMax ) {
                $('.input-quantity').val(newVal);
                $('.porukareach').addClass('d-none');
            }
            else{
                $('.input-quantity').val(newMax);
                $('.porukareach').removeClass('d-none');
            }

        });

        $('#input-quantitytri').change(function() {
            var newVal = parseFloat($('#input-quantitytri').val());
            var newMax = parseFloat($('#input-quantitytri').attr('max'));
            if (newVal <= newMax ) {
                $('.input-quantity').val(newVal);
                $('.porukareach').addClass('d-none');
            }
            else{
                $('.input-quantity').val(newMax);
                $('.porukareach').removeClass('d-none');
            }

        });
    </script>
    <script>
        $(".ddd").on("click", function(event) {
            var $button = $(this);
            var $input = $button.closest('.quantity').find("input.input-quantity");

            if ($button.data('multi') == "1" ) {
                var newVal = parseFloat($input.val()) + 1 * {{ pakiranje }};
            } else {
                // Don't allow decrementing below zero
                if ($input.val() > 1 * {{ pakiranje }}) {
                    var newVal = parseFloat($input.val()) - 1 * {{ pakiranje }};
                } else {
                    newVal = 1 * {{ pakiranje }};
                }
            }

            console.log(newVal, $input.val())

            if (newVal <= {{ qty * pakiranje }} ) {
                $('.input-quantity').val(newVal);
                $('.porukareach').addClass('d-none');

            }
            if (newVal > {{ qty * pakiranje }} ) {
                $('.porukareach').removeClass('d-none');
            }
            else{
                $('.porukareach').addClass('d-none');
            }



        });

    </script>
    {% if (qty > 0)  %}
        <script>
            $("#button-cart,#button-cart2,#button-cart3").on('click', function(){
                $.ajax({
                    url: 'index.php?route=extension/basel/basel_features/add_to_cart',
                    type: 'post',
                    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                    dataType: 'json',
                    success: function(json) {
                        $('.alert, .text-danger').remove();
                        $('.table-cell').removeClass('has-error');

                        if (json.error) {
                            if (json.error.option) {
                                for (i in json.error.option) {
                                    var element = $('#input-option' + i.replace('_', '-'));

                                    if (element.parent().hasClass('input-group')) {
                                        element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                    } else {
                                        element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                    }
                                }
                            }

                            $('.text-danger').parent().addClass('has-error');
                        }

                        if (json.success_redirect) {

                            location = json.success_redirect;

                        } else if (json.success) {

                            $('#myModal').modal('show');
                            $('#note').html('<div class="row"><div class="col-sm-3 col-lg-4"><img src="' + json.image + '" /></div><div class="col-sm d-flex align-items-center"><p class="align-middle">' + json.success +'</p></div></div>');

                            $('.table-cell').removeClass('has-error');
                            setTimeout(function() {$('.popup-note').hide();}, 4000);

                            setTimeout(function () {
                                $('.cart-total-items').html( json.total_items );
                                $('.cart-total-amount').html( json.total_amount );
                            }, 100);

                            $('#cart-content').load('index.php?route=common/cart/info #cart-content > *');
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            });
        </script>
    {% endif %}
{{ footer }}