{{ header }}
<main class="offcanvas-enabled product-container" style="padding-top: 5rem;">
    <!-- Custom page title-->
    <div class="page-title-overlap  pt-4">
        <div class="container-fluid py-2">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="product-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bg-white shadow-lg rounded-3" >
            <!-- Tabs-->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#general" data-bs-toggle="tab" role="tab">Info</a></li>
                <li class="nav-item"><a class="nav-link" href="#description" data-bs-toggle="tab" role="tab">Opis  </a></li>
                <li class="nav-item"><a class="nav-link" href="#specs" data-bs-toggle="tab" role="tab">Specifikacije </a></li>
            </ul>
            <div class="pb-3 mb-5">
                <div class="tab-content px-3">
                    <!-- General info tab-->
                    <div class="tab-pane fade show active" id="general" role="tabpanel">
                        <div class="row">
                            <!-- Product gallery-->
                            <div class="col-md " style="max-width:550px">
                                <div class="product-gallery " style="display: block !important;">
                                    <div class="product-gallery-preview gallery">
                                        {% if thumb or images %}
                                            {% if thumb %}
                                                <div class="product-gallery-preview-item active" id="first"><a class="gallery-item rounded-3 mb-grid-gutter " href="{{ popup }}" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;{{ heading_title }}&lt;/h6&gt;"><img  src="{{ thumb }}" data-zoom="{{ popup }}" alt="{{ heading_title }}"></a>

                                                </div>
                                            {% endif %}
                                            {% for image in images %}
                                                <div class="product-gallery-preview-item" id="image{{ image.imageid }}"><a class="gallery-item rounded-3 mb-grid-gutter" href="{{ image.popup }}" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;{{ heading_title }}&lt;/h6&gt;"><img  src="{{ image.popup }}"  alt="{{ heading_title }}"></a></div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% if images %}
                                    <div class="d-flex">
                                        <div class="product-gallery-thumblist mx-auto justify-content-center">

                                            {% for image in images %}
                                                {% if thumb  %}
                                                    <a class="product-gallery-thumblist-item active" style="display: inline-block !important;" href="#first"><img src="{{ thumb_sm }}" alt="{{ heading_title }}"></a>
                                                {% endif %}
                                                <a class="product-gallery-thumblist-item" style="display: inline-block !important;" href="#image{{ image.imageid }}"><img src="{{ image.thumb }}" alt="{{ heading_title }}"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product details-->
                            <div class="col">
                                <div class="product-features" id="product">

                                    <div class="badges-wrapper">

                                        <div class="product-badge-cpta product-badge-cpta__free-shipping me-3">
                                            <span> Besplatna dostava</span>
                                            <i class="fas fa-shipping-fast"></i>
                                        </div>

                                        <div class="product-badge-cpta product-badge-cpta__discount">
                                            <span> Black Friday</span>
                                            <span> Uštedi <strong>54%</strong></span>
                                        </div>
                                    </div>

                                    <div class="description-short">
                                    {% if short_description %}
                                        <h5 class="title">{{ text_short_description }}</h5>
                                        {{ short_description }}
                                    {% endif %}
                                    </div>

                                    <div class="price-wrapper">
                                        <div class="product-price">
                                        {% if not special %}
                                            <span>{{ price }}</span>
                                        {% else %}
                                            <span>{{ special }}</span>
                                            <del>{{ price }}</del>
                                            {# {% if price and special and sale_badge %}
                                                <span class="badge bg-danger badge-shadow align-middle mt-n2">{{ sale_badge }}</span>
                                            {% endif %} #}
                                            <span id="special_countdown"></span>
                                        {% endif %}
                                         </div>

                                        <div class="product-price--web">
                                        <span>
                                            Web cijena: 
                                        </span>
                                        <span>
                                          2.500,00kn
                                        </span>
                                        </div>

                                    </div>


                                    <div class="product-quantity-button">

                                        <div class="input-group me-3 quantity">
                                            <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}" id="input-quantity"   class="form-control input-quantity " />
                                            <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                                <i class="fas fa-plus"></i>
                                            </button>

                                        </div>

                                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                                    </div>

                                    {% if minimum > 1 %}
                                        <div class="alert alert-sm alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                                    {% endif %}

                                    <div class="accordion product-accordion mb-4" id="productPanels">

                                        <div class="accordion-item">
                                            <h4 class="accordion-header"><a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="far fa-map-marker-minus text-muted lead align-middle mt-n1 me-2"></i>Dostupnost proizvoda po poslovnicama</a></h4>
                                            <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                                                <div class="accordion-body">
                                                    <div class="d-flex justify-content-between border-bottom pt-2 pb-3">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Zagreb
                                                                Ulica grada Vukovara 269E</a>
                                                            </div>
                                                        </div>
                                                        <div><i class="far fa-map-marker-minus"></i></div>


                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-3">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Zagreb Arena
                                                                    Vice Vukova 6</a></div>

                                                        </div>
                                                        <div><i class="far fa-map-marker-minus"></i></div>

                                                    </div>
                                                    <div class="d-flex justify-content-between border-bottom py-3">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Zadar
                                                                    Franje Tuđmana 19</a></div>

                                                        </div>
                                                        <div><i class="far fa-map-marker-minus"></i></div>

                                                    </div>
                                                    <div class="d-flex justify-content-between pt-3 pb-2">
                                                        <div>
                                                            <div class="fw-semibold text-dark"><a href="#" >Šibenik
                                                                    Bože Peričića 26</a></div>

                                                        </div>
                                                        <div><i class="far fa-map-marker-minus"></i></div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h4 class="accordion-header"><a class="accordion-button collapsed" href="#localStore" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="localStore"><i class="far fa-tags text-muted fs-lg align-middle mt-n1 me-2"></i>Način plaćanja</a></h4>
                                            <div class="accordion-collapse collapse" id="localStore" data-bs-parent="#productPanels">
                                                <div class="accordion-body">
                                                    <h6 class="mt-2">Jednokratno plaćanje:</h6>
                                                    <ul>
                                                        <li> Internet bankarstvo (virman)</li>
                                                        <li> Pouzeće (prilikom preuzimanja)</li>
                                                        <li>American Express, Maestro, MasterCard, Visa</li>
                                                    </ul>

                                                    <h6 class="mt-3">Obročno plaćanje:</h6>
                                                    <ul class="mb-2">
                                                        <li>MasterCard 2-12 rate</li>
                                                         <li> Visa Premium 2-10 rata</li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="product-delivery-time">
                                                        <i class="fas fa-shipping-timed"></i>
                                              <div class="d-flex flex-column">
                                              <span>
                                               Proizvod kod dobavljača
                                             </span>
                                              <span>
                                              Šaljemo do 05.05.2021
                                        </span>
                                        </div>
                                    </div>


                                    <p class="product-id"><strong>{{ text_model }}</strong> {{ model }}</p>

                                 


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tech specs tab-->
                    <div class="tab-pane fade" id="description" role="tabpanel">
                        <div class="d-md-flex justify-content-between align-items-start pb-4 mt-3 mb-4 border-bottom">
                            <div class="d-flex align-items-center me-md-3">
                                {% if thumb or images %}
                                    {% if thumb %}
                                      <img  src="{{ thumb }}" data-zoom="{{ popup }}" alt="{{ heading_title }}"  width="90"/>

                                    {% endif %}
                                {% endif %}


                                <div class="ps-3">
                                    <h6 class="fs-base mb-2">{{ heading_title }}</h6>
                                    {% if not special %}
                                    <div class="h4">{{ price }}</div>
                                    {% else %}

                                    <div class="h4"><del class="fs-lg me-3">{{ price }}</del> {{ special }} </div>

                                    {% endif %}

                                </div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">

                                <div class="input-group me-3 sp-quantity">
                                    <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}"  class="form-control input-quantity " />
                                    <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                </div>

                                <input type="hidden" name="product_id" value="{{ product_id }}" />
                                <button type="button" id="button-cart2" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                            </div>
                        </div>
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-7 mb-3">
                                <h5>Opis</h5>
                                {{ description }}
                            </div>
                            {% if manufacturer %}
                            <div class="col-lg-5 mb-3">
                                <h5>{{ manufacturer }}</h5>
                             <a href="{{ manufacturers }}">  <img src="{{ manufacturer_logo }}"  alt="{{ manufacturer }}"/></a>
                                {{ manufacturer_description }}
                                <a class="btn btn-outline-primary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>

                            </div>
                            {% endif %}


                        </div>
                    </div>
                    <!-- Reviews tab-->
                    <div class="tab-pane fade" id="specs" role="tabpanel">
                        <div class="d-md-flex justify-content-between align-items-start pb-4 mt-3 mb-4 border-bottom">
                            <div class="d-flex align-items-center me-md-3">
                                {% if thumb or images %}
                                    {% if thumb %}
                                        <img  src="{{ thumb }}" data-zoom="{{ popup }}" alt="{{ heading_title }}"  width="90"/>

                                    {% endif %}
                                {% endif %}


                                <div class="ps-3">
                                    <h6 class="fs-base mb-2">{{ heading_title }}</h6>
                                    {% if not special %}
                                        <div class="h4 ">{{ price }}</div>
                                    {% else %}

                                        <div class="h4  "><del class=" me-3">{{ price }}</del> {{ special }} </div>

                                    {% endif %}

                                </div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">

                                <div class="input-group me-3 sp-quantity">
                                    <input type="text" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}"  class="form-control input-quantity " />
                                    <button class="btn btn-white border btn-icon ddd" data-multi="-1" type="button">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button class="btn btn-white border btn-icon ddd" data-multi="1" type="button">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                </div>

                                <input type="hidden" name="product_id" value="{{ product_id }}" />
                                <button type="button" id="button-cart2" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-shadow d-block w-100">{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</button>
                            </div>
                        </div>
                        <!-- Reviews-->
                        <!-- Specs table-->
                        <div class="row pt-2">
                            <div class="col-lg-7 mb-3">
                                {% if spec_description %}
                                    <h5>{{ text_spec_description }}</h5>
                                    <p class="fs-md">{{ spec_description }}</p>
                                {% endif %}
                            </div>
                            {% if manufacturer %}
                                <div class="col-lg-5 mb-3">
                                    <h5>{{ manufacturer }}</h5>
                                    <a href="{{ manufacturers }}">  <img src="{{ manufacturer_logo }}"  alt="{{ manufacturer }}"/></a>
                                    {{ manufacturer_description }}
                                    <a class="btn btn-outline-primary btn-icon" href="{{ manufacturers }}">Pregled svih {{ manufacturer }} proizvoda</a>

                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if products %}
    <!-- Product carousel (You may also like)-->
    <div class="container-fluid pt-lg-2 pb-5 mb-md-3 ">
        <h2 class="h3 text-center pb-4">{{ text_related }}</h2>
        <div class="tns-carousel tns-controls-static tns-controls-outside ">
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:2}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:4}}}">
                {% for product in products %}
                    <div class="pt-3 pb-3">
                        <div class="card product-card">
                            {# <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}"><i class="ci-heart"></i></button> #}
                            <div class="position-relative">
                                <button class="btn btn-primary btn-basket" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fad fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
                                <div class="card-img-top d-block overflow-hidden" href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></div>
                                <div class="product-badge-cpta product-badge-cpta__free-shipping">
                                    <span> Besplatna dostava</span>
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                            </div>
                            <a class="stretched-link" href="{{ product.href }}">

                                <div class="card-body">
                                    <h3 class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                                    {% if product.price %}
                                        <div class="product-price">
                                            {% if product.special %}
                                                <span>{{ product.special }}</span>
                                                <span><del>{{ product.price }}</del></span>
                                            {% else %}
                                                <span> {{ product.price }}</span>
                                            {% endif %}
                                        </div><!-- .price -->
                                    {% endif %}
                                    {% if product.rating %}
                                        <div class="star-rating {{ product.rating }}"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                                        </div>
                                    {% endif %}
                                    <div class="product-badge-cpta product-badge-cpta__discount">
                                        <span> Black Friday</span>
                                        <span> Uštedi <strong>54%</strong></span>
                                    </div>
                                    <div class="product-price--web">
                                        <span>
                                            Web cijena:
                                        </span>
                                                                <span>
                                            {{ product.special }}
                                        </span>
                                    </div>
                                </div>
                                <div class="product-delivery-time">
                                    <i class="fas fa-shipping-timed"></i>
                                    <div class="d-flex flex-column">
                                       <span>
                                       Proizvod kod dobavljača
                                       </span>
                                       <span>
                                      Šaljemo do 05.05.2021
                                       </span>
                                    </div>
                                </div>

                            </a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <!-- <div class="modal-header">
                    <h4 class="modal-title">Bravo</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>-->
                <div class="modal-body" id="note">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Nastavite kupnju</button>
                    <a href="{{ shopping_cart }}" class="btn btn-primary ">Na plaćanje</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".ddd").on("click", function(event) {
            var $button = $(this);
            var $input = $button.closest('.sp-quantity').find("input.input-quantity");

            if ($button.data('multi') == "1") {
                var newVal = parseFloat($input.val()) + 1;
            } else {
                // Don't allow decrementing below zero
                if ($input.val() > 0) {
                    var newVal = parseFloat($input.val()) - 1;
                } else {
                    newVal = 0;
                }
            }
            $('.input-quantity').val(newVal);
        });

    </script>
    <script>
       // $('#button-cart').on('click', function() {
            $("#button-cart,#button-cart2,#button-cart3").on('click', function(){
            $.ajax({
                url: 'index.php?route=extension/basel/basel_features/add_to_cart',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',

                success: function(json) {
                    $('.alert, .text-danger').remove();
                    $('.table-cell').removeClass('has-error');

                    if (json.error) {
                        if (json.error.option) {
                            for (i in json.error.option) {
                                var element = $('#input-option' + i.replace('_', '-'));

                                if (element.parent().hasClass('input-group')) {
                                    element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                } else {
                                    element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
                                }
                            }
                        }


                        // Highlight any found errors
                        $('.text-danger').parent().addClass('has-error');
                    }

                    if (json.success_redirect) {

                        location = json.success_redirect;

                    } else if (json.success) {

                       // $('#note').prepend('<div class="alert alert-success alert-dismissible fade show popup-note" role="alert">'  + json.success + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');

                        $('#myModal').modal('show');
                        $('#note').html('<div class="row"><div class="col-sm-3"><img src="' + json.image + '" /></div><div class="col-sm-9 d-flex align-items-center"><p class="align-middle">' + json.success +'</p></div></div>');


                        $('.table-cell').removeClass('has-error');

                        setTimeout(function() {$('.popup-note').hide();}, 4000);
                        // Need to set timeout otherwise it wont update the total
                        setTimeout(function () {
                            $('.cart-total-items').html( json.total_items );
                            $('.cart-total-amount').html( json.total_amount );
                        }, 100);

                        $('#cart-content').load('index.php?route=common/cart/info #cart-content > *');


                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
      </script>


{{ footer }}