
<div class="col-12  product-card-wrapper">

    <div class="card product-card">
        <div class="position-relative" >
            <button class="btn btn-primary btn-basket "  type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fad fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
            <div class="card-img-top d-block overflow-hidden" ><img src="{{ product.thumb }}" alt="{{ product.name }}"></div>
            <div class="product-badge-cpta product-badge-cpta__free-shipping">
                <span> Besplatna dostava</span>
                <i class="fas fa-shipping-fast"></i>
            </div>
        </div>
      <a class="stretched-link"  href="{{ product.href }}">
        {# <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}"><i class="ci-heart"></i></button> #}

        <div class="card-body">
            <h3 class="product-title"><a href="{{ product.href }}">{{ product.name }}</a></h3>
                {% if product.price %}
                    <div class="product-price">
                        {% if product.special %}
                            <span>{{ product.special }}</span>
                            <span><del>{{ product.price }}</del></span>
                        {% else %}
                            <span> {{ product.price }}</span>
                        {% endif %}
                    </div><!-- .price -->
                {% endif %}

            {% if product.price and product.special and salebadge_status %}
                <div class="product-badge-cpta product-badge-cpta__discount">
                    <span> Black Friday</span>
                    <span> Uštedi <strong>{{ product.sale_badge }}</strong></span>
                </div>
            {% endif %}


            <div class="product-price--web">
                <span>
                    Web cijena: 
                </span>
                <span>
                    {{ product.special }}
                </span>
            </div>
        </div>
        <div class="product-delivery-time">
            <i class="fas fa-shipping-timed"></i>
               <div class="d-flex flex-column">
               <span>
               Proizvod kod dobavljača
               </span>
               <span>
              Šaljemo do 05.05.2021
               </span>
               </div>
        </div>

    </a>

  </div>
    
</div>