<div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
    <div class="card product-card">
        <a class="card-img-top d-block overflow-hidden" href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}"></a>
        <div class="card-body py-2">
            <h3 class="product-title fs-sm"><a href="{{ product.href }}">{{ product.name }}</a></h3>
            <div class="d-flex justify-content-between">
                {% if product.price %}
                    <div class="product-price">
                        {% if product.special %}
                            <span class="text-accent">{{ product.price }}</span>
                            <del class="fs-sm text-muted">{{ product.special }}</del>
                        {% else %}
                            <span class="text-accent"> {{ product.price }}</span>
                        {% endif %}
                    </div><!-- .price -->
                {% endif %}
                {% if product.rating %}
                <div class="star-rating {{ product.rating }}"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body card-body-hidden">
            <button class="btn btn-primary btn-sm d-block w-100 mb-2" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="ci-cart fs-sm me-1"></i>{{ button_cart }}</button>
        </div>
    </div>
    <hr class="d-sm-none">
</div>