<div class="col-12  product-card-wrapper">
    <div class="card product-card">
        {# <button class="btn-wishlist btn-sm" type="button"  onclick="wishlist.add('{{ product.product_id }}');" ><i class="fal fa-heart"></i></button> #}
        <div class="position-relative" >
            {% if (product.quantity > 0)  %}
            <button class="btn btn-primary btn-basket "  type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fas fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
            {% endif %}
            <div class="card-img-top d-block overflow-hidden" ><img loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}"></div>
            {% if product.freeshipping and groupId < 3 %}
            <div class="product-badge-cpta product-badge-cpta__free-shipping">
                <span> Besplatna dostava</span>
                <i class="fas fa-shipping-fast"></i>
            </div>
            {% endif %}
        </div>
      <a class="stretched-link"  href="{{ product.href }}">
        <div class="card-body">
            <h3 class="product-title">{{ product.name }}</h3>
            {% if groupId < 3 %}
                {% if product.price %}
                    <div class="product-price">
                        {% if product.special and product.pj !='WEB'  %}
                            <span><del>{{ product.price_2 }}</del></span>
                        {% else %}
                            <span> {{ product.price_2 }}</span>
                        {% endif %}
                    </div><!-- .price -->
                {% endif %}
                {% if product.price and product.special  %}
                    <div class="product-badge-cpta product-badge-cpta__discount">
                        <span> {{ product.pj }} AKCIJA</span>
                        <span> Uštedi <strong>{{ product.sale_badge }}</strong></span>
                    </div>
                {% endif %}
                <div class="product-price--web">
                    <span>
                         {% if  product.special  %} {{ product.pj }} Akcija:    {% else %}  {% if product.price_2 != product.price %}   Web cijena: {% endif %} {% endif %}
                    </span>
                    <span>
                              {% if  product.special  %}
                        {{ product.special }}
                              {% else %}
                        {% if product.price_2 != product.price %}   {{ product.price }} {% endif %}
                        {% endif %}
                    </span>
                </div>
            {% else %}

                {% if product.price %}
                    <div class="product-price--web">
                        <span style="font-weight:300;color: #828282;"> Preporučena MPC </span>
                        <span> {{ product.price_2 }}</span>
                    </div><!-- .price -->
                {% endif %}


                <div class="product-price">
                    <span>  {{ product.price }} + PDV </span>
                </div>



            {% endif %}



        </div>

    </a>
  </div>
</div>