{% set class 		= '' %}
{% set icon_font 	= '' %}
{% set class_link 	= '' %}
{% set title 		= '' %}
{% set target 		= '' %}
{% set submenu_bg_img = '' %}
{% set caret 		= '' %}

{% if row.icon_font %}
	{% set icon_font = '<i class="icon '~row.icon_font~'"></i>' %}
{% endif %}

{% if row.description != '' %}
	{% set class_link = class_link~' description' %}
{% endif %}

{% if row.class_menu %}
	{% set class = class~row.class_menu %}
{% endif %}

{% if row.submenu is iterable and row.submenu %}
	{% set caret = "<i class='fa fa-angle-down'></i>" %}
	{% if row.submenu_width == 'full' %}
		{% set class = class~' has-sub dropdown-wrapper has-full-width' %}
		{% set is_full_width = true %}
	{% else %}
		{% set class = class~' has-sub dropdown-wrapper from-bottom' %}
		{% set is_full_width = false %}
	{% endif %}
{% endif %}

{% if row.new_window %}
	{% set target = ' external' %}
{% endif %}

{% if 'no_image' in row.icon %}
	{% set icon = '' %}
{% else %}
	{% set submenu_bg_img %}
		background-image:url('{{ row.icon }}');
		background-position:{{ row.position }};
	{% endset %}
{% endif %}

<!-- Homepages-->
<div class="accordion-item border-bottom">
	{% if  row.submenu %}
	<h3 class="accordion-header">
		<button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse" data-bs-target="#{{ row.rowid }}eee" aria-expanded="false" aria-controls="{{ row.rowid }}">{{ row.name[lang_id] }}</button>
	</h3>

	<div class="collapse" id="{{ row.rowid }}" data-bs-parent="#shop-menu">
		<div class="px-grid-gutter pt-1 pb-4">
			<div class="widget widget-links">
				<ul class="widget-list">
					{% for submenu in row.submenu %}
					<li class="widget-list-item"><a class="widget-list-link" href="{{ submenu.link }}">{{ submenu.name[lang_id] }}</a></li>

					{% endfor %}

				</ul>
			</div>
		</div>
	</div>

	{% else %}
		<h3 class="accordion-header">
			<a class="accordion-button collapsed py-3"  href="{{ row.link }}">{{ row.name[lang_id] }}</a>
		</h3>

	{% endif %}
</div>
<!-- Shop-->