<script src="//www.google.com/recaptcha/api.js?hl=hr"></script>

{% if route|slice(0, 9) == 'checkout/' %}


<div class="form-group required">
<div id="input-payment-captcha" class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
{% if error_captcha %}
<div class="text-danger">{{ error_captcha }}</div>
{% endif %}


{% elseif (route|slice(0, 12) == 'information/') or (route|slice(0, 8) == 'product/') %}

<div class="required">
<div class="g-recaptcha margin-b10" data-sitekey="{{ site_key }}"></div>
{% if error_captcha %}
<div class="text-danger margin-b10">{{ error_captcha }}</div>
{% endif %}
</div>

{% else %}



<div class="form-group required">
<div class="col-sm-10">
<div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
{% if error_captcha %}
<div class="text-danger">{{ error_captcha }}</div>
{% endif %}
</div>
</div>


{% endif %}