{{ header }}
<main class="offcanvas-enabled" style="padding-top: 5rem;">


    <div class="page-title-overlap  pt-4 ps-lg-4 pe-lg-3">
        <div class="container  py-2 py-lg-3">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="category-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>





    <div class="container pb-5 ps-lg-3 pe-lg-3">
        <div class="row pt-0 mt-md-2 py-2 py-lg-3">
            <section class="col-lg-8">

                {% if main_thumb and blogsetting_post_thumb %}
                <!-- Gallery-->
                <div class="gallery row pb-2">
                    <div class="col-sm-12">
                        <a class="gallery-item rounded-3 mb-grid-gutter" href="{{ main_thumb }}" data-bs-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption #1&lt;/h6&gt;"><img src="{{ main_thumb }}" alt="Gallery image"><span class="gallery-item-caption">Gallery image caption #1</span></a>



                    </div>

                </div>
                {% endif %}
                <!-- Post content-->
                {{ description }}
                <!-- Post tags + sharing-->
                <div class="d-flex flex-wrap justify-content-between pt-2 pb-4 mb-1">
                    <div class="mt-3 me-3"><a class="btn-tag me-2 mb-2" href="#">#merchandise</a><a class="btn-tag mb-2" href="#">#printed tshirts</a></div>
                    <div class="mt-3"><span class="d-inline-block align-middle text-muted fs-sm me-3 mt-1 mb-2">Share post:</span><a class="btn-social bs-facebook me-2 mb-2" href="#"><i class="ci-facebook"></i></a><a class="btn-social bs-twitter me-2 mb-2" href="#"><i class="ci-twitter"></i></a><a class="btn-social bs-pinterest me-2 mb-2" href="#"><i class="ci-pinterest"></i></a></div>
                </div>


            </section>
            <aside class="col-lg-4">
            <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-auto" id="blog-sidebar" style="max-width: 22rem;">
                <div class="offcanvas-cap align-items-center shadow-sm">
                    <h2 class="h5 mb-0">Sidebar</h2>
                    <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
                        {{ column_right }}

                    </div>
                </div>
            </aside>
        </div>
    </div>







{{ footer }} 