{{ header }}
<main class="offcanvas-enabled">


    <div class="page-title-overlap  pt-4">
        <div class="container-fluid  py-2">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="category-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>





    <div class="container-fluid pb-5">
        <div class="row pt-0 py-2 ">
            <section class="col-lg-8">

                {% if main_thumb and blogsetting_post_thumb %}
                <!-- Gallery-->
                <div class="gallery row pb-2">
                    <div class="col-sm-12">
                        <a class="gallery-item mb-grid-gutter" href="{{ main_thumb }}" data-bs-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption #1&lt;/h6&gt;"><img src="{{ main_thumb }}" alt="{{ heading_title }}"><span class="gallery-item-caption">{{ heading_title }}</span></a>



                    </div>

                </div>
                {% endif %}
                <!-- Post content-->
                {{ description }}
                <!-- Post tags + sharing-->
                <div class="d-flex flex-wrap justify-content-between pt-2 pb-4 mb-1">
                {% if tags %}
                    <div class="mt-3 me-3">

                        {% for tag in tags %}

                                <a class="btn-tag me-2 mb-2" href="{{ tag.href }}">#{{ tag.tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                    <div class="mt-3">
                        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f1aa4948aa12700134b0c47&product=inline-share-buttons' async='async'></script>
                        <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->
                    </div>
                </div>





            </section>
            <aside class="col-lg-4">
            <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-3" id="blog-sidebar" style="max-width: 22rem;">
                <div class="offcanvas-cap align-items-center shadow-sm">
                    <h2 class="h5 mb-0">Sidebar</h2>
                    <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
                        {{ column_right }}

                    </div>
                </div>
            </aside>
        </div>
    </div>

    {% if products %}
        <!-- Product carousel (You may also like)-->
        <div class="container-fluid pt-lg-2 pb-5 mb-md-3 ">

            <div class="section-title section-title--discount">
                <h2 class="title">{{ text_related_products }}</h2>

            </div>
            <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled tns-carousel-product product-holder py-3">
                <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;:false, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1}, &quot;480&quot;:{&quot;items&quot;:2}, &quot;720&quot;:{&quot;items&quot;:3}, &quot;991&quot;:{&quot;items&quot;:3}, &quot;1140&quot;:{&quot;items&quot;:3}, &quot;1300&quot;:{&quot;items&quot;:4}, &quot;1500&quot;:{&quot;items&quot;:5}}}">

                {% for product in products %}
                    <div>
                        <div class="card product-card">
                            {# <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}"><i class="fal fa-heart"></i></button> #}
                            <div class="position-relative">
                                <button class="btn btn-primary btn-basket" type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fas fs-xl fa-shopping-basket"></i><span class="sr-only" {{ button_cart }}</span></button>
                                <div class="card-img-top d-block overflow-hidden" href="{{ product.href }}"><img loading="lazy" src="{{ product.thumb }}" alt="{{ product.name }}"></div>
                                <div class="product-badge-cpta product-badge-cpta__free-shipping">
                                    <span> Besplatna dostava</span>
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                            </div>
                            <a class="stretched-link" href="{{ product.href }}">
                                <div class="card-body">
                                    <h3 class="product-title">{{ product.name }}</h3>
                                    {% if product.price %}
                                        <div class="product-price">
                                            {% if product.special %}
                                                <span>{{ product.special }}</span>
                                                <span><del>{{ product.price }}</del></span>
                                            {% else %}
                                                <span> {{ product.price }}</span>
                                            {% endif %}
                                        </div><!-- .price -->
                                    {% endif %}
                                    {% if product.rating %}
                                        <div class="star-rating {{ product.rating }}"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                                        </div>
                                    {% endif %}
                                    <div class="product-badge-cpta product-badge-cpta__discount">
                                        <span> Black Friday</span>
                                        <span> Uštedi <strong>54%</strong></span>
                                    </div>
                                    <div class="product-price--web">
                                        <span>Web cijena:</span>
                                        <span>{{ product.special }}</span>
                                    </div>
                                </div>
                                <div class="product-delivery-time">
                                    <i class="fas fa-shipping-timed"></i>
                                    <div class="d-flex flex-column">
                                        <span>Proizvod kod dobavljača</span>
                                        <span>Šaljemo do 05.05.2021</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}



    <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                     <h4 class="modal-title">Bravo</h4>
                     <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>-->
                <div class="modal-body" id="note">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Nastavite kupnju</button>
                    <a href="{{ shopping_cart }}" class="btn btn-primary ">Na plaćanje</a>
                </div>
            </div>
        </div>
    </div>



{{ footer }} 