{{ header }}
<main class="offcanvas-enabled">


    <div class="page-title-overlap  pt-4 ps-lg-4 pe-lg-3">
        <div class="container  py-2 py-lg-3">
            <div class="pe-lg-4 text-center text-lg-start">
                <h1 class="category-page-title" id="page-title">{{ heading_title }}</h1>
            </div>
            <div class=" mb-3 mb-lg-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>


    <div class="container pb-5 mb-2 mb-md-4">

        <div class="row pt-0 mt-md-2">
            <!-- Entries grid-->
            <section class="col-lg-8">

      
              {% if description %}
              <div class="main_description">
              {{ description }}
              </div>
              {% endif %}
  	
         {% if blogs %}

                <div class="masonry-grid" data-columns="2">
            {% for blog in blogs %}

                <article class="masonry-grid-item">
                    <div class="card">
                        {% if blog.image %}
                        <a class="blog-entry-thumb" href="{{ blog.href }}"><img loading="lazy" class="card-img-top" src="{{ blog.image }}" alt="{{ blog.title }}"></a>
                        {% endif %}
                        <div class="card-body">
                            <h2 class="h6 blog-entry-title"><a href="{{ blog.href }}">{{ blog.title }}</a></h2>
                            {% if blog.short_description %}
                                <p class="fs-sm">{{ blog.short_description }}</p>
                            {% endif %}
                        </div>

                        <div class="card-footer d-flex align-items-center fs-xs">
                            <div class="ms-auto text-nowrap"><a class="blog-entry-meta-link text-nowrap" href="#">{{ blog.date_added_day }} {{ blog.date_added_month }}</a><span class="blog-entry-meta-divider mx-2"></span><a class="blog-entry-meta-link text-nowrap" href="#"><i class="fas fa-eye"></i>{{ blog.count_read }}</a></div>
                        </div>


                    </div>
                </article>

            {% endfor %}
                </div>
             <hr class="mb-4">

             <nav class="d-flex justify-content-between pt-2 pagination-navigation" aria-label="Page navigation">
                 {{ pagination }}
             </nav>
	{% else %}
		<div>{{ text_no_blog_posts }}</div>
	{% endif %}

            </section>
            <aside class="col-lg-4">
                <div class="offcanvas offcanvas-collapse offcanvas-end border-start ms-lg-auto" id="blog-sidebar" style="max-width: 22rem;">
                    <div class="offcanvas-cap align-items-center shadow-sm">
                        <h2 class="h5 mb-0">Sidebar</h2>
                        <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body py-grid-gutter py-lg-1 px-lg-4" data-simplebar data-simplebar-auto-hide="true">
                        {{ column_right }}

                    </div>
                </div>
            </aside>
     </div>
    </div>
    <script src="catalog/view/dist/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="catalog/view/dist/vendor/shufflejs/dist/shuffle.min.js"></script>
{{ footer }} 