{{ header }}
<main  class="offcanvas-enabled" style="padding-top: 5rem;">
    <!-- Page Title-->
    <div class="page-title-overlap  pt-4 ps-lg-4 pe-lg-3">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3 ">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-start">
                        {% for breadcrumb in breadcrumbs %}
                            <li class="breadcrumb-item"><a class="text-nowrap" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-dark mb-0">{{ heading_title }}</h1>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <section class="col-lg-12">
                <!-- Steps-->
                <div class="steps steps-dark pt-2 pb-3 mb-5"><a class="step-item active" href="shop-cart.html">
                        <div class="step-progress"><span class="step-count">1</span></div>
                        <div class="step-label"><i class="ci-cart"></i>{{ heading_title }}</div></a><a class="step-item  current active" href="checkout-details.html">
                        <div class="step-progress"><span class="step-count">2</span></div>
                        <div class="step-label"><i class="ci-user-circle"></i>Vaši podaci</div></a><a class="step-item" href="checkout-shipping.html">
                        <div class="step-progress"><span class="step-count">3</span></div>
                        <div class="step-label"><i class="ci-package"></i>Dostava</div></a><a class="step-item" href="checkout-payment.html">
                        <div class="step-progress"><span class="step-count">4</span></div>
                        <div class="step-label"><i class="ci-card"></i>Plaćanje</div></a><a class="step-item" href="checkout-review.html">
                        <div class="step-progress"><span class="step-count">5</span></div>
                        <div class="step-label"><i class="ci-check-circle"></i>Pregledaj</div></a>
                </div>
            </section>
        </div>
    </div>

    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">

    <section class="col-lg-8 "  >
	
                {% if error_warning %}
              <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>
              {% endif %}

            <hr>
             <!--shipping-address -->
            <div id="content" class="mt-3">

            </div>
        <!-- end shipping-address -->


        </section>

    <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
        <div class="bg-white rounded-3 shadow-lg p-4">
            <div class="py-2 px-xl-2">
                <div class="text-center mb-4 pb-3 border-bottom">


                    {% for total in totals %}
                        {% if total.title=='Ukupno'  %}
                            <h2 class="h6 mb-3 pb-1">{{ total.title }}</h2>
                            <h3 class="fw-normal">{{ total.text }}</h3>
                        {% endif %}
                    {% endfor %}



                </div>

                <div class="accordion" id="order-options">
                    {% if modules %}
                        {% for module in modules %}

                            {{ module }}

                        {% endfor %}
                    {% endif %}



                </div><a class="btn btn-primary btn-shadow d-block w-100 mt-4" href="{{ checkout }}"><i class="ci-card fs-lg me-2"></i>{{ button_checkout }}</a>
            </div>
        </div>
    </aside>



</div></div>
    <script type="text/javascript"><!--
    {% if not logged %}
        $(document).ready(function() {
        $.ajax({
        url: 'index.php?route=checkout/guest',
        dataType: 'html',
        success: function(html) {
        $('#content').html(html);


        },
        error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
        });
        });
    {% else %}
        $(document).ready(function() {
        $.ajax({
        url: 'index.php?route=checkout/payment_address',
        dataType: 'html',
        success: function(html) {
        $('#content').html(html);

        },
        error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
        });
        });
    {% endif %}
        //--></script>
{{ footer }}