



<div class="d-sm-flex justify-content-between align-items-center bg-secondary p-4 rounded-3 ">
    <div class="d-flex align-items-center">

        <div class="form-check form-check-inline">
            {% if account == 'register' %}
                <input type="radio" class="form-check-input" name="account" value="register" checked="checked" />
            {% else %}
                <input type="radio" class="form-check-input" name="account" value="register" />
            {% endif %}

            <label class="form-check-label" />{{ text_register }}</label>
        </div>
        {% if checkout_guest %}
        <div class="form-check form-check-inline">
            {% if account == 'guest' %}
                <input type="radio" class="form-check-input" name="account" value="guest" checked="checked" />
            {% else %}
                <input type="radio" class="form-check-input" name="account" value="guest" />
            {% endif %}
            <label class="form-check-label" >{{ text_guest }}</label>
        </div>
        {% endif %}

    </div>

    <a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="account-profile.html"><i class="ci-edit me-2"></i>Login</a>
</div>








    <!--    <input type="button" value="{{ button_continue }}" id="button-account" data-loading-text="{{ text_loading }}" class="btn btn-primary" /> -->

  <!--  <div class="col-sm-6">
        <h2>{{ text_returning_customer }}</h2>
        <p>{{ text_i_am_returning_customer }}</p>
        <div class="form-group">
            <label class="control-label" for="input-email">{{ entry_email }}</label>
            <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label" for="input-password">{{ entry_password }}</label>
            <a href="{{ forgotten }}" class="label-link pull-right">{{ text_forgotten }}</a>
            <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control margin-b15" />
            <input type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
        </div>
    </div> -->
