<h4 class="mb-3 mt-3">Adresa naplate</h4>

<form class="form-horizontal mt-3">
  {% if addresses %}
  <div class="radio form-check">
      <input type="radio" class="form-check-input" name="payment_address" value="existing" checked="checked" />
   <label class="form-check-label"> {{ text_address_existing }}</label>
  </div>
  <div id="payment-existing" class="mb-3">
    <select name="address_id" class="form-select mt-2">
     {% for address in addresses %}
      {% if address['address_id'] == address_id %}
      <option value="{{ address.address_id }}" selected="selected">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}</option>
      {% else %}
      <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>

    {% if groupId < 3  %}
      <div class="radio form-check mt-4 mt-lg-1">
        <input type="radio" class="form-check-input" name="payment_address" value="new" />
        <label class="form-check-label"> {{ text_address_new }}</label>
      </div>
    {% endif %}
  {% endif %}
  <br />
  <div id="payment-new" class="row" style="display: {% if addresses %}none{% else %}{% endif %};">

    <div class="col-sm-6">
      <div class="form-group mb-3 required">
        <label class="form-label" for="input-payment-firstname">{{ entry_firstname }}<span class="text-danger">*</span></label>
        <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control" />
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group mb-3 required">
        <label class="form-label" for="input-payment-lastname">{{ entry_lastname }}<span class="text-danger">*</span></label>
        <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3 required">
        <label class="form-label" for="input-payment-email">{{ entry_email }}<span class="text-danger">*</span></label>
        <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-payment-email" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3 required">
        <label class="form-label" for="input-payment-telephone">{{ entry_telephone }}<span class="text-danger">*</span></label>
        <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-payment-telephone" class="form-control" />
      </div>
    </div>






    <div class="form-group d-none">
      <label class="col-sm-2 control-label" for="input-payment-company">{{ entry_company }}</label>
      <div class="col-sm-10">
        <input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control" />
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group mb-3 required">
        <label class="form-label" for="input-payment-address-1">{{ entry_address_1 }}<span class="text-danger">*</span></label>
        <input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control" />
      </div>
    </div>

    <div class="form-group d-none">
      <label class="col-sm-2 control-label" for="input-payment-address-2">{{ entry_address_2 }}</label>
      <div class="col-sm-10">
        <input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3 dropdown required">
        <label class="form-label" for="input-payment-city">{{ entry_city }}<span class="text-danger">*</span></label>
        <input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control" />
        <div id="payment-city-drop" class="dropdown-menu" style="display: none;height: 200px;overflow: scroll;"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3 dropdown required">
        <label class="form-label" for="input-payment-postcode">{{ entry_postcode }}<span class="text-danger">*</span></label>
        <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control" />
        <div id="payment-postcode-drop" class="dropdown-menu" style="display: none;"></div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-3 required">
        <label class="form-label" for="input-payment-country">{{ entry_country }}<span class="text-danger">*</span></label>
        <select name="country_id" id="input-payment-country" class="form-select">
          <option value="">{{ text_select }}</option>


          {% for country in countries %}
            {% if country.country_id == country_id %}


              <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>


            {% else %}


              <option value="{{ country.country_id }}">{{ country.name }}</option>


            {% endif %}
          {% endfor %}


        </select>
      </div>
    </div>
    <div class="form-group required d-none">
      <label class="col-sm-2 control-label" for="input-payment-zone">{{ entry_zone }}</label>
      <div class="col-sm-10">
        <input type="hidden" name="zone_id" value="848" />
      </div>
    </div>

    {% for custom_field in custom_fields %}
      {% if custom_field.location == 'address' %}
        {% if custom_field.type == 'text' %}
          <div id="payment-custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if guest_custom_field[custom_field.custom_field_id] %} {{ guest_custom_field[custom_field.custom_field_id] }} {% else %} {{ custom_field.value }} {% endif %}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>



  <div class="d-flex pt-4 mt-3">
    <div class="w-50 pe-3"><a class="btn btn-outline-primary d-flex align-items-center justify-content-center w-100" href="{{ cart }}"><i class="fal fa-chevron-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Povratak na košaricu</span><span class="d-inline d-sm-none">Košarica</span></a></div>
    <div class="w-50 ps-2"><button type="button" value="{{ button_continue }}" id="button-payment-address" onclick="window.scrollTo(0, 0)" class="btn btn-primary d-flex align-items-center justify-content-center w-100" ><span class="d-none d-sm-inline">Nastavak na dostavu</span><span class="d-inline d-sm-none">Dostava</span><i class="fal fa-chevron-right mt-sm-0 ms-1"></i></button></div>
  </div>



</form>

<script src="catalog/view/theme/chipoteka/js/agmedia_common.js"></script>
<script>
  $(() => {
    let key = 'payment';

    $('#input-' + key + '-city, #input-' + key + '-postcode').keyup((e) => {
      let target = e.currentTarget;

      if (target.value.length > 1) {
        if (target.id == 'input-' + key + '-city') {
          callPlaces('city', target.value, key);

        }

        if (target.id == 'input-' + key + '-postcode') {
          callPlaces('postcode', target.value, key);
        }
      }
    });

    $('#input-' + key + '-city, #input-' + key + '-postcode').on('blur', () => {
      setTimeout(function() {
        document.getElementById(key + '-city-drop').style['display'] = 'none';
        document.getElementById(key + '-postcode-drop').style['display'] = 'none';
      }, 300);
    });
  });
</script>


<script type="text/javascript"><!--
$('input[name=\'payment_address\']').on('change', function() {
	if (this.value == 'new') {
		$('#payment-existing').hide();
		$('#payment-new').show();
	} else {
		$('#payment-existing').show();
		$('#payment-new').hide();
	}
});
//--></script>
<script type="text/javascript"><!--
// Sort the custom fields
$('#collapse-payment-address .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group').eq(parseInt($(this).attr('data-sort'))+2).before(this);
	}

	if ($(this).attr('data-sort') > $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#collapse-payment-address .form-group').length-2) {
		$('#collapse-payment-address .form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('#collapse-payment-address button[id^=\'button-payment-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input[name^=\'custom_field\']').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>

<script type="text/javascript"><!--
$('#collapse-payment-address select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#collapse-payment-address select[name=\'country_id\']').prop('disabled', true);
		},
		complete: function() {
			$('#collapse-payment-address select[name=\'country_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('#collapse-payment-address select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#collapse-payment-address select[name=\'country_id\']').trigger('change');
//--></script>
