{% if error_warning %}
  <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
    {{ error_warning }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>




{% endif %}
{% if payment_methods %}
  <h2 class="h6 pb-3 mt-3 mb-2">{{ text_payment_method }}</h2>



<div class="table-responsive">
  <table class="table table-hover fs-sm border-top">

    <tbody>

{% for payment_method in payment_methods %}


  <tr>
    <td>

      <div class="form-check mb-0 mt-1">
        {% if payment_method.code == code or not code %}

          {% set code = payment_method.code %}


          <label class="form-check-label" for="{{ payment_method.code }}">
          <input class="form-check-input" type="radio" name="payment_method" id="{{ payment_method.code }}" value="{{ payment_method.code }}" checked="checked" />
          <span class="text-dark fw-medium"> {{ payment_method.title }}</span>   </label>
        {% if payment_method.code == 'wspay' %}
          <div class="row gx-4 gy-3 mt-1">

            <div class="col-sm-6  required">
              <label class="form-label" for="credit_card_type">Kartica</label>
              <select name="CreditCardName" id="CreditCardName" class="form-select mt-2">
                <option value=""  value="NO" selected="selected">Odaberite karticu</option>
                <option value="MAESTRO" id="MAESTRO">Maestro</option>
                <option value="VISA" id="VISA">Visa</option>
                <option value="MASTERCARD" id="MASTERCARD">MasterCard</option>
                <option value="AMEX" id="VISAPREMIUM">Visa Premium</option>

              </select>
            </div>
            <div class="col-sm-6  required">
              <label class="form-label" for="PaymentPlan">Broj rata</label>
              <select name="PaymentPlan" id="PaymentPlan" class="form-select mt-2">
              </select>
            </div>
          </div>
        {% endif %}

          {% else %}
            <label class="form-check-label" for="{{ payment_method.code }}">
            <input class="form-check-input" type="radio" name="payment_method" id="{{ payment_method.code }}" value="{{ payment_method.code }}" />
            <span class="text-dark fw-medium"> {{ payment_method.title }}</span> </label>
          {% endif %}

      </div>

    </td>


  </tr>


{% endfor %}

    </tbody>
  </table>
</div>


{% endif %}




  <div class="col-sm-12">
    <div class=" mb-3 ">
      <label class="form-check-label" >

        {% if agree %}
          <input type="checkbox" class="form-check-input" name="agree" value="1" checked="checked" />
        {% else %}
          <input type="checkbox" class="form-check-input" name="agree" value="1" />
        {% endif %}

        {{ text_agree }}</label>
    </div>
  </div>

  <div class=" d-flex pt-4 mt-3">
    <div class="w-50 pe-3"><a class="btn btn-outline-primary d-flex align-items-center justify-content-center w-100" href="javascript:;" id="button-back-to-shipping-method" ><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Povratak</span><span class="d-inline d-sm-none">Povratak</span></a></div>
    <div class="w-50 ps-2"><button type="button" value="{{ button_continue }}" id="button-payment-method" onclick="window.scrollTo(0, 0)" class="btn btn-primary d-flex align-items-center justify-content-center w-100" ><span class="d-none d-sm-inline">Provjeri narudžbu</span><span class="d-inline d-sm-none">Provjeri</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></button></div>
  </div>


<script>
  $(document).ready(function () {
    $("#PaymentPlan").html("<option value='0000' selected='selected'>Jednokratno</option>");
    $("#CreditCardName").change(function () {
      var id = $(this).children(":selected").attr("id");
      if (id == "MAESTRO") {
        $("#PaymentPlan").html("<option value='0000' selected='selected'>Jednokratno</option>");
      } else if (id == "VISA") {
        $("#PaymentPlan").html("<option value='0000' selected='selected'>Jednokratno</option>");
      } else if (id == "MASTERCARD") {
        $("#PaymentPlan").html("<option value='0000' selected='selected'>Jednokratno</option><option value='0200' >2 rate</option><option value='0300'>3 rate</option><option value='0400' '>4 rate</option><option value='0500' >5 rata</option><option value='0600'>6 rata</option><option value='0700' >7 rata</option><option value='0800' >8 rata</option><option value='0900' >9 rata</option><option value='1000' >10 rata</option><option value='1100' >11 rata</option><option value='1200' >12 rata</option><option value='1300' >14 rata</option><option value='1400' >14 rata</option><option value='1500' >15 rata</option><option value='1600' >16 rata</option><option value='1700' >17 rata</option><option value='1800' >18 rata</option><option value='1900' >19 rata</option><option value='20000' >20 rata</option><option value='2100' >21 rata</option><option value='2200' >22 rate</option><option value='2300' >23 rate</option><option value='2400' >24 rate</option>");
      } else if (id == "VISAPREMIUM") {
        $("#PaymentPlan").html("<option value='0000' selected='selected'>Jednokratno</option><option value='0200' >2 rate</option><option value='0300'>3 rate</option><option value='0400' '>4 rate</option><option value='0500' >5 rata</option><option value='0600'>6 rata</option><option value='0700' >7 rata</option><option value='0800' >8 rata</option><option value='0900' >9 rata</option><option value='1000' >10 rata</option>");
      }
      else if (id == "NO") {
        $("#PaymentPlan").html("<option value='0000' selected='selected'>Jednokratno</option>");
      }
    });
  });
</script>