{% if error_warning %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{ error_warning }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>




{% endif %}
{% if payment_methods %}
  <h2 class="h6 pb-3 mb-2">{{ text_payment_method }}</h2>

<div class="table-responsive">
  <table class="table table-hover fs-sm border-top">

    <tbody>

{% for payment_method in payment_methods %}


  <tr>
    <td>

      <div class="form-check mb-0">
        {% if payment_method.code == code or not code %}
        <label class="form-check-label" for="{{ payment_method.code }}">
          {% set code = payment_method.code %}
          <input class="form-check-input" type="radio" name="payment_method" id="{{ payment_method.code }}" value="{{ payment_method.code }}" checked="checked" />

          {% else %}
            <input class="form-check-input" type="radio" name="payment_method" id="{{ payment_method.code }}" value="{{ payment_method.code }}" />

          {% endif %}
        </label>
      </div>

    </td>
    <td class="align-middle"><span class="text-dark fw-medium"> {{ payment_method.title }}</span><br><span class="text-muted">  {% if payment_method.terms %}
          ({{ payment_method.terms }})
        {% endif %}</span></td>

  </tr>


{% endfor %}

    </tbody>
  </table>
</div>


{% endif %}




  <div class="col-sm-12">
    <div class=" mb-3 ">
      <label class="form-check-label" >

        {% if agree %}
          <input type="checkbox" class="form-check-input" name="agree" value="1" checked="checked" />
        {% else %}
          <input type="checkbox" class="form-check-input" name="agree" value="1" />
        {% endif %}

        {{ text_agree }}</label>
    </div>
  </div>

  <div class=" d-flex pt-4 mt-3">
    <div class="w-50 pe-3"><a class="btn btn-outline-primary d-block w-100" href="{{ checkout }}"><i class="ci-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Natrag na dostavu</span><span class="d-inline d-sm-none">Natrag na dostavu</span></a></div>
    <div class="w-50 ps-2"><button type="button" value="{{ button_continue }}" id="button-payment-method" class="btn btn-primary d-block w-100" ><span class="d-none d-sm-inline">Provjeri narudžbu</span><span class="d-inline d-sm-none">Provjeri narudžbu</span><i class="ci-arrow-right mt-sm-0 ms-1"></i></button></div>
  </div>



