

<!-- Autor info-->
<div class="d-sm-flex justify-content-between align-items-center  rounded-3 mb-grid-gutter">
  <div class="d-flex align-items-center">
    <!-- Inline radio buttons -->
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="ex-radio-4" name="radio2">
      <label class="form-check-label" for="ex-radio-4">Registracija</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="ex-radio-5" name="radio2" checked>
      <label class="form-check-label" for="ex-radio-5">Kupnja bez registracije</label>
    </div>
  </div><a class="btn btn-light  btn-shadow mt-3 mt-sm-0" href="account-profile.html"><i class="ci-sign-in"></i> Prijava</a>
</div>
<!-- Shipping address-->
<h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Adresa dostave </h2>
<!--
{% if addresses %}
  <div class="radio">
    <label>
      <input type="radio" name="payment_address" value="existing" checked="checked" />
      {{ text_address_existing }}</label>
  </div>
  <div id="payment-existing">
    <select name="address_id" class="form-control">
      {% for address in addresses %}
        {% if address['address_id'] == address_id %}
          <option value="{{ address.address_id }}" selected="selected">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }}</option>
        {% else %}
          <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="payment_address" value="new" />
      {{ text_address_new }}</label>
  </div>
{% endif %}
-->




<div class="row">
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-firstname">{{ entry_firstname }} <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname" >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-lastname">{{ entry_lastname }} <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname" >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-email">{{ entry_email }} <span class="text-danger">*</span></label>
      <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-payment-email" class="form-control" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-telephone">{{ entry_telephone }} <span class="text-danger">*</span></label>
      <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-payment-telephone" class="form-control" />
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-address-1">{{ entry_address_1 }} <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-city">{{ entry_city }} <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-payment-city">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-postcode">{{ entry_postcode }} <span class="text-danger">*</span></label>
      <input class="form-control" type="text" name="postcode" value="" placeholder="{{ entry_postcode }}" id="input-payment-postcode">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="mb-3">
      <label class="form-label" for="input-payment-country">{{ entry_country }} <span class="text-danger">*</span></label>
      <select name="country" id="input-payment-country" class="form-select">
        <option value="">{{ text_select }}</option>
        {% for country in countries %}
          {% if country.country_id == country_id %}
            <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
          {% else %}
            <option value="{{ country.country_id }}">{{ country.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>


</div>



<h6 class="mb-3 py-3 border-bottom">Trebate R1 račun?</h6>
<div class="form-check">
  <input class="form-check-input" type="checkbox" checked id="same-address">
  <label class="form-check-label" for="same-address">Trebam R1 račun</label>
</div>













<!--<form class="form-horizontal">
  {% if addresses %}
  <div class="radio">
    <label>
      <input type="radio" name="payment_address" value="existing" checked="checked" />
      {{ text_address_existing }}</label>
  </div>
  <div id="payment-existing">
    <select name="address_id" class="form-control">
     {% for address in addresses %}
      {% if address['address_id'] == address_id %}
      <option value="{{ address.address_id }}" selected="selected">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }}</option>
      {% else %}
      <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="payment_address" value="new" />
      {{ text_address_new }}</label>
  </div>
  {% endif %}
  <br />
  <div id="payment-new" style="display: {% if addresses %}none{% else %}block{% endif %};">
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-firstname">{{ entry_firstname }}</label>
      <div class="col-sm-10">
        <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-lastname">{{ entry_lastname }}</label>
      <div class="col-sm-10">
        <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-payment-company">{{ entry_company }}</label>
      <div class="col-sm-10">
        <input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-address-1">{{ entry_address_1 }}</label>
      <div class="col-sm-10">
        <input type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-payment-address-2">{{ entry_address_2 }}</label>
      <div class="col-sm-10">
        <input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-city">{{ entry_city }}</label>
      <div class="col-sm-10">
        <input type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-postcode">{{ entry_postcode }}</label>
      <div class="col-sm-10">
        <input type="text" name="postcode" value="" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-country">{{ entry_country }}</label>
      <div class="col-sm-10">
        <select name="country_id" id="input-payment-country" class="form-control">
          <option value="">{{ text_select }}</option>
         {% for country in countries %}
          {% if country.country_id == country_id %}
          <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
          {% else %}
          <option value="{{ country.country_id }}">{{ country.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group required">
      <label class="col-sm-2 control-label" for="input-payment-zone">{{ entry_zone }}</label>
      <div class="col-sm-10">
        <select name="zone_id" id="input-payment-zone" class="form-control">
        </select>
      </div>
    </div>
    {% for custom_field in custom_fields %}
    {% if custom_field.type == 'select' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">
          <option value="">{{ text_select }}</option>
          {% for custom_field_value in custom_field.custom_field_value %}
          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'radio' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
          {% for custom_field_value in custom_field.custom_field_value %}
          <div class="radio">
            <label>
              <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'checkbox' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
          {% for custom_field_value in custom_field.custom_field_value %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'text' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'textarea' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'file' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <button type="button" id="button-payment-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
        <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field{{ custom_field.custom_field_id }}" />
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'date' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div class="input-group date">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'time' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div class="input-group time">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'time' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div class="input-group datetime">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="buttons clearfix">
    <div class="pull-right">
      <input type="button" value="{{ button_continue }}" id="button-payment-address" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
  </div>
</form>

-->