{% if error_warning %}
  <div class="alert alert-primary alert-dismissible fade show mt-3" role="alert">
    {{ error_warning }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
{% if shipping_methods %}
  <h2 class="h6 pb-3 mt-3 mb-2">{{ text_shipping_method }}</h2>
  <div class="table-responsive">
    <table class="table table-hover fs-sm border-top">
      <thead>
      <tr>

        <th class="align-middle">Način dostave</th>

        <th class="align-middle">Cijena</th>
      </tr>
      </thead>
      <tbody>
  {% for shipping_method in shipping_methods|slice(0,2)  %}
    {% if not shipping_method.error %}
      {% for quote in shipping_method.quote|slice(0,1) %}
        <tr >
          <td>

     <div class="form-check mb-0 mt-1">
              {% if quote.code == code or not code %}

                {% set code = quote.code %}
              <label class="form-check-label" for="{{ quote.code }}">
                <input class="form-check-input" type="radio" name="shipping_method" id="{{ quote.code }}" value="{{ quote.code }}" checked="checked" />
                <span class="text-dark fw-medium me-3">{{ quote.title }}</span>
              </label>
              {% else %}
                <label class="form-check-label" for="{{ quote.code }}">
                <input class="form-check-input" type="radio" name="shipping_method" id="{{ quote.code }}" value="{{ quote.code }}" />
                <span class="text-dark fw-medium me-3">{{ quote.title }}</span>
                </label>
              {% endif %}


          </div>

          </td>
       <!-- <td class="align-middle"><span class="text-dark fw-medium">{{ shipping_method.title }}</span><br><span class="text-muted"> {{ quote.title }}</span></td> -->
          <td class="align-middle">{{ quote.text }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          {{ shipping_method.error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </tr>
    {% endif %}


  {% endfor %}

      </tbody>
    </table>
  </div>

{% endif %}
<div class="form-group mb-3 required">
  <label class="form-label" for="input-payment-firstname">Dodatna napomena</label>
  <textarea class="form-control" name="comment" style="height: 120px;" placeholder="Ukoliko imate dodatnih napomena vezano uz isporuku molimo upišite ovdje">{{ comment }}</textarea>
</div>



<div class="d-flex pt-4 mt-3">
  <div class="w-50 pe-3"><a class="btn btn-outline-primary d-flex align-items-center justify-content-center w-100" href="{{ checkout }}"><i class="fal fa-chevron-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Vaši podaci</span><span class="d-inline d-sm-none">Vaši podaci</span></a></div>
  <div class="w-50 ps-2"><button type="button" value="{{ button_continue }}" id="button-shipping-method" onclick="window.scrollTo(0, 0)" class="btn btn-primary d-flex align-items-center justify-content-center w-100" ><span class="d-none d-sm-inline">Način plaćanja</span><span class="d-inline d-sm-none">Način plaćanja</span><i class="fal fa-chevron-right mt-sm-0 ms-1"></i></button></div>
</div>


<script>

  $(' input:radio').click(function() {
        if ($(this).val() === 'flat.flat') {
            $("#mtext").text("Postupak narudžbe ");
        } else if ($(this).val() === 'xshippingpro.xshippingpro1') {
            $("#mtext").text("Postupak rezervacije");
        }
    });


</script>


